<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    quotebox
    column
    {{ #get.current.metadata.speech_bubble }} {{ get.current.metadata.speech_bubble }} {{/get.current.metadata.speech_bubble }}
    {{ #get.current.metadata.size_small }}size-small {{ /get.current.metadata.size_small }}
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
    {{ /helper.trim }}">
    {{{ get.current.filtered.styleSheets }}}
    <div class="{{ #helper.trim }}
        content
        {{ #style.collection }}content_decoration{{ /style.collection }}
        {{ /helper.trim }}"
        style="--bg-color: var(--{{ get.current.metadata.background_color }}); --text-color: var(--{{ get.current.metadata.text_color }}); {{ #style.collection }}content_inline_style{{ /style.collection }}" 
        >
        {{{ children.image }}}
        <h3 class="{{ #helper.trim }}
            quote 
            {{ #get.current.metadata.hideQuotationMark }}noMark {{ /get.current.metadata.hideQuotationMark }}
            {{ #get.current.metadata.hideBlockLine }}noLine {{ /get.current.metadata.hideBlockLine }} 
            {{ #style.collection }}text_decoration fields.quote{{ /style.collection }}
            {{ ^app.isEditor }}{{ ^get.current.fields.quote }} dac-hidden{{ /get.current.fields.quote }}{{ /app.isEditor }}
            {{ /helper.trim }}"
            style="{{ #helper.trim }}
            {{ #style.collection }}text_decoration_inline_style fields.quote{{ /style.collection }}
            {{ #get.current.metadata.quotationMarkColor }}{{ ^get.current.metadata.customQuotationMarkColor }}--quotation-mark-color: var(--{{ get.current.metadata.quotationMarkColor }});{{ /get.current.metadata.customQuotationMarkColor }}{{ /get.current.metadata.quotationMarkColor }}
            {{ #get.current.metadata.customQuotationMarkColor }}--quotation-mark-color: {{ get.current.metadata.customQuotationMarkColor }};{{ /get.current.metadata.customQuotationMarkColor }}
            {{ #get.current.metadata.blockLineColor }}{{ ^get.current.metadata.customBlockLineColor }} --block-line-color: var(--{{ get.current.metadata.blockLineColor }});{{ /get.current.metadata.customBlockLineColor }}{{ /get.current.metadata.blockLineColor }}
            {{ #get.current.metadata.customBlockLineColor }} --block-line-color: {{ get.current.metadata.customBlockLineColor }};{{ /get.current.metadata.customBlockLineColor }}
            {{ /helper.trim }}"
        >
            {{{ get.current.fields.quote }}}
        </h3>
        <p class="author {{ #style.collection }}text_decoration fields.author{{ /style.collection }}{{ ^app.isEditor }}{{ ^get.current.fields.author }} dac-hidden{{ /get.current.fields.author }}{{ /app.isEditor }}"
            style="{{ #style.collection }}text_decoration_inline_style fields.author{{ /style.collection }}">{{{ get.current.fields.author }}}</p>
    </div>
</div>
