    <div {{ #helper.trim }}
    data-element-guid="{{ get.current.guid }}"
    class="authorBox column
    desktop-{{{ get.current.filtered.desktop_layout }}}_authorbox
    mobile-{{{ get.current.filtered.mobile_layout }}}_authorbox
        {{ #style.collection }}box_decoration{{ /style.collection }}
        {{ size.grid.css }}
        {{ size.grid.absCss }}"
    data-instance="{{ get.current.instance_of }}{{ ^get.current.instance_of }}{{ get.current.id }}{{ /get.current.instance_of }}" 
    {{ #get.child.image.fields.float }}data-image-float="{{ get.child.image.fields.float }}"{{ /get.child.image.fields.float }}
    itemscope itemtype="http://schema.org/Person"
    {{ /helper.trim }}>
        {{{ get.current.filtered.styleSheets }}}

        {{ #app.isFront }}
            <!-- JSON-LD Structured Data -->
        <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "ProfilePage",
            "mainEntity": {
                "@type": "Person"{{#get.current.filtered.firstname}}{{#get.current.filtered.lastname}},
                "name": "{{{ get.current.filtered.firstname }}} {{{ get.current.filtered.lastname }}}"{{/get.current.filtered.lastname}}{{/get.current.filtered.firstname}}{{#get.current.filtered.firstname}},
                "givenName": "{{{ get.current.filtered.firstname }}}"{{/get.current.filtered.firstname}}{{#get.current.filtered.lastname}},
                "familyName": "{{{ get.current.filtered.lastname }}}"{{/get.current.filtered.lastname}}{{#get.current.filtered.description2}},
                "description": "{{{ get.current.filtered.description2 }}}"{{/get.current.filtered.description2}}{{#get.current.filtered.public_email}},
                "email": "mailto:{{{ get.current.filtered.public_email }}}"{{/get.current.filtered.public_email}}{{#get.current.filtered.description}},
                "jobTitle": "{{{ get.current.filtered.description }}}"{{/get.current.filtered.description}}{{#get.root.filtered.staticUrl}},
                "url": "{{{ get.root.filtered.specificUrl }}}"{{/get.root.filtered.staticUrl}}{{#get.child.image.filtered.image}},
                "image": "{{{ get.child.image.filtered.image }}}"{{/get.child.image.filtered.image}}{{#get.root.filtered.siteAlias}},
                "affiliation": {
                    "@type": "Organization",
                    "name": "{{{ get.root.filtered.siteAlias }}}",
                    "url": "{{{ get.root.filtered.customer_front_url }}}"
                },
                "worksFor": {
                    "@type": "Organization",
                    "name": "{{{ get.root.filtered.siteAlias }}}",
                    "url": "{{{ get.root.filtered.customer_front_url }}}"
                }{{/get.root.filtered.siteAlias}}{{#get.root.filtered.staticUrl}},
                "mainEntityOfPage": {
                    "@type": "WebPage",
                    "@id": "{{{ get.root.filtered.staticUrl }}}"
                }{{/get.root.filtered.staticUrl}}
            }
        }
        </script>
        {{ /app.isFront }}
        <div class="{{ #helper.trim }}
        content
        {{ #style.collection }}content_decoration{{ /style.collection }}
        {{ #get.current.metadata.image_gradient_direction }}image-gradient-{{ get.current.metadata.image_gradient_direction }}{{ /get.current.metadata.image_gradient_direction }} 
        {{ #style.collection }}box_fullWidth{{ /style.collection }}
        {{ /helper.trim }}" style="{{ #style.collection }}content_inline_style{{ /style.collection }}">
            <div class="media {{ #style.definition }}imageAlign child.image.fields.float{{ /style.definition }}{{ #get.current.fields.displayVideoArticleOverlay }} video-overlay{{ /get.current.fields.displayVideoArticleOverlay }}">
            {{ ^get.current.metadata.hideimage }}
            {{ #get.current.filtered.author_image }}
            {{{ child.image }}}
            {{ /get.current.filtered.author_image }}
            {{ /get.current.metadata.hideimage }}
            </div>

            <div class="text">

            {{ ^get.current.filtered.hideDisplayName }}
            {{ #get.current.filtered.full_name  }}
            <h2 class="full_name {{ #style.collection }}text_decoration fields.full_name{{ /style.collection }}">{{{ get.current.filtered.full_name }}}</h2>
            {{ /get.current.filtered.full_name  }}
            {{ /get.current.filtered.hideDisplayName }}

            {{ ^get.current.filtered.hideDescription }}
            {{ #get.current.filtered.description }}
            <div class="description {{ #style.collection }}text_decoration fields.description{{ /style.collection }}">{{{ get.current.filtered.description }}}</div>
            {{ /get.current.filtered.description }}
            {{ /get.current.filtered.hideDescription }}

            {{ ^get.current.filtered.hideExtendedDescription }}
            {{ #get.current.filtered.description2 }}
            <div class="extended_description {{ #style.collection }}text_decoration fields.description2{{ /style.collection }}">{{{ get.current.filtered.description2 }}}</div>
            {{ /get.current.filtered.description2 }}
            {{ /get.current.filtered.hideExtendedDescription }}
            
            {{ ^get.current.filtered.hidePublicPhone }}
            {{ #get.current.filtered.public_phone }}
            <div class="public_phone {{ #style.collection }}text_decoration fields.public_phone{{ /style.collection }} fi-telephone"> <a href="tel:{{{ get.current.filtered.public_phone }}}">{{{ get.current.filtered.public_phone }}}</a></div>
            {{ /get.current.filtered.public_phone }}
            {{ /get.current.filtered.hidePublicPhone }}
            
            {{ ^get.current.filtered.hidePublicUrl }}
            {{ #get.current.filtered.public_url }}
            <div class="public_url {{ #style.collection }}text_decoration fields.public_url{{ /style.collection }} fi-link"> <a href="{{{ get.current.filtered.public_url }}}">{{{ get.current.filtered.public_url }}}</a></div>
            {{ /get.current.filtered.public_url }}
            {{ /get.current.filtered.hidePublicUrl }}

            {{ ^get.current.filtered.hidePublicEmail }}
            {{ #get.current.filtered.public_email }}
            <div class="public_email {{ #style.collection }}text_decoration fields.public_email{{ /style.collection }} fi-mail"> <a href="mailto:{{{ get.current.filtered.public_email }}}">{{{ get.current.filtered.public_email }}}</a></div>
            {{ /get.current.filtered.public_email }}
            {{ /get.current.filtered.hidePublicEmail }}

            </div>
        </div>
    </div>
