:root {
  --v2-main-color: 230;

  --v2-header-background: hsla(var(--v2-main-color), 14%, 17%, 0.6);

  --v2-background: hsl(var(--v2-main-color), 8%, 8%);
  --v2-background-highlight: hsl(var(--v2-main-color), 12%, 16%);
  --v2-background-always-dark: hsl(var(--v2-main-color), 12%, 12%);

  --v2-card-background: hsl(var(--v2-main-color), 14%, 16%);
  --v2-card-background-highlight: hsl(var(--v2-main-color), 14%, 24%);
  --v2-card-background-highlight-2: hsl(var(--v2-main-color), 14%, 32%);
  --v2-card-border-background: var(--v2-card-background-highlight);

  --v2-card-headline-color: hsl(0, 0%, 100%);
  --v2-card-paragraph-color: hsla(0, 0%, 100%, 80%);
  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-black: hsl(230, 8%, 8%);

  --v2-card-label-background: hsl(245, 14%, 14%);
  --v2-label-color-teal: hsl(166, 100%, 50%);
  --v2-label-color-teal-darker: hsl(166, 100%, 20%);
  --v2-label-color-pink-lighter: hsl(327, 100%, 75%);
  --v2-label-color-pink: hsl(327, 100%, 50%);
  --v2-label-color-pink-darker: hsl(327, 100%, 40%);
  --v2-label-color-purple: hsl(280, 100%, 50%);
  --v2-label-color-purple-darker: hsl(270, 100%, 40%);
  --v2-label-color-mint: hsl(115, 100%, 50%);
  --v2-label-color-mint-darker: hsl(115, 100%, 30%);
  --v2-label-color-yellow: hsl(68, 100%, 50%);
  --v2-label-color-yellow-darker: hsl(68, 100%, 10%);
  --v2-label-color-orange: hsl(0, 100%, 50%);
  --v2-label-color-orange-darker: hsl(0, 100%, 40%);

  --v2-button-background-color: hsl(327, 81%, 48%);
  --v2-notification-background-color: hsl(327, 81%, 48%);

  --v2-flame-red: hsl(12deg 100% 50% / 40%);
  --v2-flame-red-light: hsl(12deg 100% 50% / 0);

  --v2-light-toggle-partner-logos: grayscale(100%) brightness(200%);
  --showBlockForDark: block;
  --showBlockForLight: none;

}

html.dark {
  --v2-main-color: 230;

  --v2-header-background: hsla(var(--v2-main-color), 14%, 17%, 0.6);

  --v2-background: hsl(var(--v2-main-color), 8%, 8%);
  --v2-background-highlight: hsl(var(--v2-main-color), 12%, 16%);
  --v2-background-always-dark: hsl(var(--v2-main-color), 12%, 12%);

  --v2-card-background: hsl(var(--v2-main-color), 14%, 16%);
  --v2-card-background-highlight: hsl(var(--v2-main-color), 14%, 24%);
  --v2-card-background-highlight-2: hsl(var(--v2-main-color), 14%, 32%);
  --v2-card-border-background: var(--v2-card-background-highlight);

  --v2-card-headline-color: hsl(0, 0%, 100%);
  --v2-card-paragraph-color: hsla(0, 0%, 100%, 80%);
  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-black: hsl(240, 40%, 12%);

  --v2-card-label-background: hsl(245, 14%, 14%);
  --v2-label-color-teal: hsl(166, 100%, 50%);
  --v2-label-color-teal-darker: hsl(166, 100%, 20%);
  --v2-label-color-pink-lighter: hsl(327, 100%, 75%);
  --v2-label-color-pink: hsl(327, 100%, 50%);
  --v2-label-color-pink-darker: hsl(327, 100%, 40%);
  --v2-label-color-purple: hsl(280, 100%, 50%);
  --v2-label-color-purple-darker: hsl(270, 100%, 40%);
  --v2-label-color-mint: hsl(115, 100%, 50%);
  --v2-label-color-mint-darker: hsl(115, 100%, 30%);
  --v2-label-color-yellow: hsl(68, 100%, 50%);
  --v2-label-color-yellow-darker: hsl(68, 100%, 10%);
  --v2-label-color-orange: hsl(0, 100%, 50%);
  --v2-label-color-orange-darker: hsl(0, 100%, 40%);

--v2-button-background-color: hsl(327, 81%, 48%);
  --v2-notification-background-color: hsl(327, 81%, 48%);

  --v2-flame-red: hsl(12deg 100% 50% / 40%);
  --v2-flame-red-light: hsl(12deg 100% 50% / 0);

  --v2-light-toggle-partner-logos: grayscale(100%) brightness(200%);
  --showBlockForDark: block;
  --showBlockForLight: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --v2-main-color: 302;

    --v2-background: hsl(302, 20%, 95%);
    --v2-background-highlight: hsl(216, 20%, 95%);
    --v2-background-always-dark: hsl(210, 4%, 10%);

    --v2-card-background: hsla(0, 0%, 100%, 1);
    --v2-card-background-highlight: hsl(var(--v2-main-color), 30%, 95%);
    --v2-card-background-highlight-2: hsl(var(--v2-main-color), 30%, 90%);
    --v2-card-border-background: hsla(244, 14%, 20%, 0.10);

    --v2-card-headline-color: hsl(0 0 0);
    --v2-card-paragraph-color: hsl(230, 10%, 42%);
    --v2-card-always-white: hsl(0, 0%, 100%);
    --v2-card-always-black: hsl(230, 8%, 8%);
    --v2-header-background: hsla(var(--v2-main-color), 14%, 100%, 0.6);


    --v2-card-label-background: hsl(245, 14%, 14%);
    --v2-label-color-teal: hsl(166, 100%, 50%);
    --v2-label-color-teal-darker: hsl(166, 100%, 80%);
    --v2-label-color-teal-adjusted: hsl(166, 100%, 40%);
    --v2-label-color-pink-lighter: hsl(327, 100%, 20%);
    --v2-label-color-pink: hsl(327, 100%, 50%);
    --v2-label-color-pink-darker: hsl(327, 100%, 80%);
    --v2-label-color-purple: hsl(270, 100%, 50%);
    --v2-label-color-purple-darker: hsl(270, 100%, 80%);
    --v2-label-color-mint: hsl(115, 100%, 50%);
    --v2-label-color-mint-darker: hsl(115, 100%, 80%);
    --v2-label-color-mint-adjusted: hsl(116, 100%, 40%);
    --v2-label-color-yellow: hsl(68, 100%, 50%);
    --v2-label-color-yellow-darker: hsl(68, 100%, 80%);
    --v2-label-color-yellow-adjusted: hsl(44, 100%, 50%);
    --v2-label-color-orange: hsl(14, 100%, 50%);
    --v2-label-color-orange-darker: hsl(0, 100%, 64%);
    --v2-button-background-color: hsl(327, 81%, 54%);
    --v2-notification-background-color: hsl(327, 81%, 54%);

    --v2-flame-red: hsl(12deg 100% 50% / 40%);
    --v2-flame-red-light: hsl(12deg 100% 50% / 0);


    --v2-light-toggle-partner-logos: grayscale(100%) brightness(0%);
    --showBlockForDark: none;
    --showBlockForLight: block;
  }
}

html.light {

  --v2-main-color: 302;

  --v2-header-background: hsla(var(--v2-main-color), 14%, 100%, 0.6);

  --v2-background: hsl(302, 20%, 95%);
  --v2-background-highlight: hsl(216, 20%, 95%);
  --v2-background-always-dark: hsl(210, 4%, 10%);

  --v2-card-background: hsla(0, 0%, 100%, 1);
  --v2-card-background-highlight: hsl(var(--v2-main-color), 30%, 95%);
  --v2-card-background-highlight-2: hsl(var(--v2-main-color), 30%, 90%);
  --v2-card-border-background: hsla(244, 14%, 20%, 0.10);

  --v2-card-headline-color: hsl(0 0 0);
  --v2-card-paragraph-color: hsl(230, 10%, 42%);
  --v2-card-always-white: hsl(0, 0%, 100%);
  --v2-card-always-black: hsl(230, 8%, 8%);
  --v2-header-background: hsla(var(--v2-main-color), 14%, 100%, 0.8);


  --v2-card-label-background: hsl(245, 14%, 14%);
  --v2-label-color-teal: hsl(166, 100%, 50%);
  --v2-label-color-teal-darker: hsl(166, 100%, 80%);
  --v2-label-color-teal-adjusted: hsl(166, 100%, 40%);
  --v2-label-color-pink-lighter: hsl(327, 100%, 20%);
  --v2-label-color-pink: hsl(327, 100%, 50%);
  --v2-label-color-pink-darker: hsl(327, 100%, 80%);
  --v2-label-color-purple: hsl(270, 100%, 50%);
  --v2-label-color-purple-darker: hsl(270, 100%, 80%);
  --v2-label-color-mint: hsl(115, 100%, 50%);
  --v2-label-color-mint-darker: hsl(115, 100%, 80%);
  --v2-label-color-mint-adjusted: hsl(116, 100%, 40%);
  --v2-label-color-yellow: hsl(68, 100%, 50%);
  --v2-label-color-yellow-darker: hsl(68, 100%, 80%);
  --v2-label-color-yellow-adjusted: hsl(44, 100%, 50%);

   --v2-label-color-orange: hsl(14, 100%, 50%);
  --v2-label-color-orange-darker: hsl(0, 100%, 64%);

  --v2-button-background-color: hsl(327, 81%, 48%);
  --v2-notification-background-color: hsl(327, 81%, 48%);

  --v2-flame-red: hsl(12deg 100% 50% / 40%);
  --v2-flame-red-light: hsl(12deg 100% 50% / 0);


  --v2-light-toggle-partner-logos: grayscale(100%) brightness(0%);
  --showBlockForDark: none;
  --showBlockForLight: block;
}



.page-content .bg-gray .text-regular,
.page-content .bg-pink .text-regular,
.page-content .bg-purple .text-regular,
.page-content .bg-teal .text-regular,
.page-content .bg-blue .text-regular,
.page-content .bg-yellow .text-regular,
.page-content .bg-orange .text-regular {
  color: var(--v2-card-headline-color);
}

.page-content .bg-gray .text-pink,
.page-content .bg-pink .text-pink,
.page-content .bg-purple .text-pink,
.page-content .bg-teal .text-pink,
.page-content .bg-blue .text-pink,
.page-content .bg-yellow .text-pink,
.page-content .bg-orange .text-pink {
  color: var(--v2-label-color-pink);
}

.page-content .bg-gray .text-purple,
.page-content .bg-pink .text-purple,
.page-content .bg-purple .text-purple,
.page-content .bg-teal .text-purple,
.page-content .bg-blue .text-purple,
.page-content .bg-yellow .text-purple,
.page-content .bg-orange .text-purple {
  color: var(--v2-label-color-purple);
}

.page-content .bg-gray .text-teal,
.page-content .bg-pink .text-teal,
.page-content .bg-purple .text-teal,
.page-content .bg-teal .text-teal,
.page-content .bg-blue .text-teal,
.page-content .bg-yellow .text-teal,
.page-content .bg-orange .text-teal {
  color: var(--v2-label-color-teal);
}

.page-content .bg-gray .text-teal,
.page-content .bg-pink .text-teal,
.page-content .bg-purple .text-teal,
.page-content .bg-teal .text-teal,
.page-content .bg-blue .text-teal,
.page-content .bg-yellow .text-teal,
.page-content .bg-orange .text-teal {
  color: var(--v2-label-color-teal);
}

.page-content .bg-gray .text-blue,
.page-content .bg-pink .text-blue,
.page-content .bg-purple .text-blue,
.page-content .bg-teal .text-blue,
.page-content .bg-blue .text-blue,
.page-content .bg-yellow .text-blue,
.page-content .bg-orange .text-blue {
  color: var(--v2-label-color-mint);
}

.page-content .bg-gray .text-yellow,
.page-content .bg-pink .text-yellow,
.page-content .bg-purple .text-yellow,
.page-content .bg-teal .text-yellow,
.page-content .bg-blue .text-yellow,
.page-content .bg-yellow .text-yellow,
.page-content .bg-orange .text-yellow {
  color: var(--v2-label-color-yellow);
}

.page-content .bg-gray .text-orange,
.page-content .bg-pink .text-orange,
.page-content .bg-purple .text-orange,
.page-content .bg-teal .text-orange,
.page-content .bg-blue .text-orange,
.page-content .bg-yellow .text-orange,
.page-content .bg-orange .text-orange {
  color: var(--v2-label-color-orange);
}

.light .text-teal {
  color: var(--v2-label-color-teal-adjusted)
}

.light .text-yellow {
  color: var(--v2-label-color-yellow-adjusted)
}

.light .text-blue {
  color: var(--v2-label-color-mint-adjusted)
}


.light .bg-gray .text-teal {
  color: var(--v2-label-color-teal-adjusted)
}

.light .bg-gray .text-yellow {
  color: var(--v2-label-color-yellow-adjusted)
}

.light .bg-gray .text-blue {
  color: var(--v2-label-color-mint-adjusted)
}


.light .page-content .bg-gray .headline {
  color: hsl(0 0 0);
}

.light .page-content .bg-gray .kicker,
.light .page-content .bg-gray p,
.light .page-content .bg-gray .byline .name {
  color: hsl(230, 10%, 42%);
}

@media (prefers-color-scheme: light) {
  html:not(.dark) .page-content .bg-gray .headline {
    color: hsl(0 0 0);
  }

  html:not(.dark) .page-content .bg-gray .kicker,
  html:not(.dark) .page-content .bg-gray p,
  html:not(.dark) .page-content .bg-gray .byline .name {
    color: hsl(230, 10%, 42%);
  }
}


.bg-gray {
  background-color: var(--v2-card-background);
}

.bg-pink {
  background-color: var(--v2-label-color-pink-darker);
}

.bg-purple {
  background-color: var(--v2-label-color-purple-darker);
}

.bg-teal {
  background-color: var(--v2-label-color-teal-darker);
}

.bg-blue {
  background-color: var(--v2-label-color-mint-darker);
}

.bg-yellow {
  background-color: var(--v2-label-color-yellow-darker);
}

.bg-orange {
  background-color: var(--v2-label-color-orange-darker);
}

.text-regular {
  color: var(--v2-card-headline-color-darker);
}

.text-pink {
  color: var(--v2-label-color-pink);
}

.text-purple {
  color: var(--v2-label-color-purple);
}

.text-teal {
  color: var(--v2-label-color-teal);
}

.text-blue {
  color: var(--v2-label-color-mint);
}

.text-yellow {
  color: var(--v2-label-color-yellow);
}

.text-orange {
  color: var(--v2-label-color-orange);
}

.bodytext>p>span,
.bodytext>ul>li>span {
  color: var(--v2-card-paragraph-color) !important;
}