<div class="{{ #helper.trim }}
    column graphic type_{{ get.current.fields.fileType }}
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ #style.collection }}box_fullWidth{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
{{ /helper.trim }}" data-element-guid="{{ get.current.guid }}">
{{{ get.current.filtered.styleSheets }}}
    <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}">
        <div class="img">
            <img src="{{ get.current.fields.url }}" alt="{{ get.current.fields.alt }}" {{ #get.current.filtered.lazyloadImages }}loading="lazy"{{ /get.current.filtered.lazyloadImages }}/>
        </div>
    </div>
</div>
