{{ ^app.isEditor }}

    <div class="lab-placeholder">
        <p>Text-to-Speech Player</p>
        <p>Enable/Disable: Article Settings -> Audio -> Text-to-Speech enabled</p>
    </div>

{{ /app.isEditor }}