<!DOCTYPE html>
<html {{ #get.current.filtered.seolanguage }}lang="{{ . }}"{{ /get.current.filtered.seolanguage }}{{ ^get.current.filtered.seolanguage }}{{ #get.current.filtered.contentLanguage }}lang="{{ . }}"{{ /get.current.filtered.contentLanguage }}{{ /get.current.filtered.seolanguage }} dir="{{ getConfig.textDirection }}" class="{{ #get.current.filtered.featureFlags.responsive_mobile_fonts }}resp_fonts{{ /get.current.filtered.featureFlags.responsive_mobile_fonts }}">
    <head>
        {{> partial/lab4/page_head_before }}
        {{> partial/lab4/page_head }}
        <link rel="stylesheet" href="/view-resources/view/css/notice.css{{ #helper.cachebuster }}{{ /helper.cachebuster }}">
        {{ #app.isEditor }}<link rel="stylesheet" href="/view-resources/baseview/view/css/edit.css{{ #helper.cachebuster }}{{ /helper.cachebuster }}">{{ /app.isEditor }}
        {{ #get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}{{ > partial/lab4/analytics/kilkaya_metadata }}{{ /get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}
        {{ > partial/lab4/analytics/kilkaya }}
    </head>
    <body class="{{ #helper.trim }}
        l4 notice site_{{{ get.current.filtered.site.alias }}}
        {{ get.current.fields.pageHeaderDisplay }}
        {{ get.current.filtered.pageHeaderDisplay }}
        {{ get.current.filtered.pageFooterDisplay }}
        {{ /helper.trim }}">
        {{ #render.pageElement }}page_header lab4/page_header{{ /render.pageElement }}
        <main class="pageWidth">
            {{{ selector.placement_top }}}
            {{{ selector.placement_left }}}
            {{{ selector.placement_right }}}
            <article>
                <section class="main notice" id="main">
                  {{{ child.noticeHeader }}}
                  {{{ selector.placement_above_article }}}
                  {{{ child.bodytext }}}
                </section>
                {{ #get.current.filtered.page_settings.social.display.bodytext_after }}
                <div class="row social">
                    <div class="column large-12 small-12">
                        {{ #get.current.filtered.page_settings.social.items }}
                            {{ > partial/social_button }}
                        {{ /get.current.filtered.page_settings.social.items }}
                    </div>
                </div>
                {{ /get.current.filtered.page_settings.social.display.bodytext_after }}
            </article>
            <section class="related">
                {{{ child.dropZone }}}
            </section>
        </main>

        {{ #render.partial }}lab4/page_footer{{ /render.partial }}

        {{> partial/lab4/page_foot }}

    </body>
</html>
