.mediaContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    figure {
        height: 100%;
        width: 100%;
        .img {
            width: 100%;
            height: 100%;
            picture {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

[data-lab-content][droppable].mediaContainer {
    position: absolute;
}