{{! Template part for the things to be loaded in <head> for Iteras paywall }}
{{ #getConfig.iteras }}
    {{ #getConfig.iteras.id }}
        <script src="https://app.iteras.dk/static/api/iteras.js"></script>
        {{ #getConfig.iteras.cookieDomain }}
        <script>
        if (window.Iteras) {
            Iteras.cookieDomain = '{{{ getConfig.iteras.cookieDomain }}}';
        }
        </script>
        {{ /getConfig.iteras.cookieDomain }}
        <script src="/iteras.js"></script>
        {{! Note: This is made to work with the menu system. }}
        {{! Iteras.logOutAndReload method is defined in /public/common/iteras.js }}
        <script>
        document.addEventListener('DOMContentLoaded', () => {
            const loginButton = document.querySelector('.login-iteras a');
            const pageHeader = document.querySelector('.pageHeader');
            if (window.Iteras && Iteras.isLoggedIn()) {
                if (pageHeader) {
                    pageHeader.classList.add('iterasLoggedIn');
                }
                if (loginButton != null) {
                    loginButton.innerText = '{{ getConfig.iteras.logoutText }}{{ ^getConfig.iteras.logoutText }}Log out{{ /getConfig.iteras.logoutText }}';
                    loginButton.addEventListener('click', (e) => {
                        e.preventDefault();
                        e.stopPropagation();
                        Iteras.logOutAndReload();
                    });
                }
            } else {
                if (pageHeader) {
                    pageHeader.classList.remove('iterasLoggedIn');
                }
            }
        });
        </script>
    {{ /getConfig.iteras.id }}
{{ /getConfig.iteras }}
