<!DOCTYPE html>
<html {{ #get.current.filtered.seolanguage }}lang="{{ . }}"{{ /get.current.filtered.seolanguage }}{{ ^get.current.filtered.seolanguage }}{{ #get.current.filtered.contentLanguage }}lang="{{ . }}"{{ /get.current.filtered.contentLanguage }}{{ /get.current.filtered.seolanguage }} dir="{{ getConfig.textDirection }}" class="{{ #get.current.filtered.featureFlags.responsive_mobile_fonts }}resp_fonts{{ /get.current.filtered.featureFlags.responsive_mobile_fonts }}">

    <head>
        {{> partial/lab4/page_head_before }}
        {{> partial/lab4/page_head }}
        {{> partial/lab4/page_head_after }}

        {{ #get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}{{ > partial/lab4/analytics/kilkaya_metadata }}{{ /get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}
        {{ > partial/lab4/analytics/kilkaya }}
    </head>

    <body class="l4 gallery site_{{{ get.current.filtered.site.alias }}}">

        {{ > partial/lab4/page_body_prefix }}

        {{ #get.current.filtered.gallerySettings.displayHeader }}
        {{ #render.pageElement }}page_header lab4/page_header{{ /render.pageElement }}
        {{ #render.partial }}lab4/after_page_header{{ /render.partial }}
        {{ /get.current.filtered.gallerySettings.displayHeader }}

        {{{ selector.placement_non-relative }}}

        <section class="main gallery">
            {{{ selector.placement_top }}}
            <main class="pageWidth">
                {{ > page/gallery/default/template/partials/galleryHeader }}
                {{{ children.slideshow }}}
            </main>
            {{{ selector.placement_left }}}
            {{{ selector.placement_right }}}
        </section>

        {{ #get.current.filtered.gallerySettings.displayFooter }}
        {{ #render.partial }}lab4/page_footer{{ /render.partial }}
        {{ /get.current.filtered.gallerySettings.displayFooter }}

        {{> partial/lab4/page_foot }}

{{ ! Gallery CSS variables }}
{{ > page/gallery/default/template/partials/style }}

{{ ! Gallery analytics/stats }}
{{ #get.current.filtered.gallerySettings.logImageView }}
    {{ #get.current.filtered.analytics.kilkayaSettings.useDefaultScript }}
        {{ > partial/lab4/analytics/kilkaya/api_consumer }}
    {{ /get.current.filtered.analytics.kilkayaSettings.useDefaultScript }}
    {{! Todo: Implement custom Kilkaya account. }}
    {{ #get.current.filtered.analytics.google }}
        {{ > partial/lab4/analytics/google/api_consumer_ga4 }}
    {{ /get.current.filtered.analytics.google }}
    {{ #get.current.filtered.analytics.google_gtm }}
        {{ > partial/lab4/analytics/google/api_consumer_gtm }}
    {{ /get.current.filtered.analytics.google_gtm }}
    {{ #get.current.filtered.analytics.comscore }}
        {{! Todo: Implement Comscore logging in partial/lab4/analytics/comscore/api_consumer }}
    {{ /get.current.filtered.analytics.comscore }}
{{ /get.current.filtered.gallerySettings.logImageView }}

{{ ! Gallery Ads }}
{{ #get.current.filtered.adEnvironment.is_google }}
    {{ #get.current.filtered.adEnvironment.is_provider_none }}
        {{ > partial/lab4/ads/google/api_consumer }}
    {{ /get.current.filtered.adEnvironment.is_provider_none }}
    
    {{ ! Other providers: check is_provider_pubmatic etc and include partial: partial/lab4/ads/google/api_consumer_pubmatic }}

{{ /get.current.filtered.adEnvironment.is_google }}

{{ #get.current.filtered.adEnvironment.is_adnuntius }}
    {{ > partial/lab4/ads/adnuntius/api_consumer }}
{{ /get.current.filtered.adEnvironment.is_adnuntius }}

{{ ! Gallery business logic }}
{{ > page/gallery/default/template/partials/script }}

    </body>
</html>
