<a class="piano-my-account hidden[[ #settings.classes ]] [[.]][[ /settings.classes ]]" href="[[ #settings.href ]][[ settings.href ]][[ /settings.href ]][[ ^settings.href ]]{{ #getConfig.piano.myAccountHref }}{{ getConfig.piano.myAccountHref }}{{ /getConfig.piano.myAccountHref }}[[ /settings.href ]]" data-id="pageElements-[[ id ]]">[[ #settings.text ]][[ settings.text ]][[ /settings.text ]][[ ^settings.text ]]{{ #lang }}paywall.piano.myAccount{{ /lang }}[[ /settings.text ]]</a>

<script>
    window.addEventListener('load', (event) => {
        const pianoMyAccountButton = document.querySelector('[data-id="pageElements-[[ id ]]"].piano-my-account');

        tp = window.tp || [];
        if (!tp.pianoId) {
            return;
        }

        const isLoggedIn = tp.pianoId.isUserValid();
        if (isLoggedIn) {
            pianoMyAccountButton.classList.remove('hidden');
        }
    });
</script>