<button class="piano-login[[ #settings.classes ]] [[.]][[ /settings.classes ]]" data-id="pageElements-[[ id ]]">[[ #settings.text ]][[ settings.text ]][[ /settings.text ]][[ ^settings.text ]]{{ #lang }}paywall.piano.login{{ /lang }}[[ /settings.text ]]</button>

<script>
    window.addEventListener('load', (event) => {
        const pianoLoginButton = document.querySelector('[data-id="pageElements-[[ id ]]"].piano-login');

        function PianoLogin() {
            tp.pianoId.show({
                disableSignUp: [[ #settings.disableSignUp ]]true[[ /settings.disableSignUp ]][[ ^settings.disableSignUp ]]false[[ /settings.disableSignUp ]],
                displayMode: 'modal',
                screen: [[ #settings.screen ]]'[[ settings.screen ]]'[[ /settings.screen ]][[ ^settings.screen ]]'login'[[ /settings.screen ]],
                loginSuccess: () => window.location.reload()
            });
        }

        tp = window.tp || [];
        if (!tp.pianoId) {
            console.warn('Piano ID is not loaded');
            return;
        }

        const isLoggedIn = tp.pianoId.isUserValid();
        if (isLoggedIn) {
            pianoLoginButton.classList.add('hidden');
        } 

        if (pianoLoginButton) {
            pianoLoginButton.addEventListener('click', function(e) {
                e.preventDefault();
                PianoLogin();
            });
        }
    });
</script>