<div id="lpCharts-{{id}}" class="columns dashboardbox linkpulse no-bg {{ view.grid.css }} {{ view.boxCss.background_color }} abs_grid_{{ view.grid.absoluteWidth }}">
    <div class="dashboardbox-menu">
        <h3>{{{ fields.title }}}</h3>
    </div>
    <div class="content"></div>
</div>
