<form method="post">
    <h4>Settings for article-list</h4>

    <p style="width: 48%; float: left; margin: 1em 4% 0 0;">
        <label>Number of articles
            <input name="fields.limit" value="{{fields.limit}}" type="number" min="1" max="1000" placeholder="Number of items to display" />
        </label>
    </p>
    
    <p style="width: 48%; float: left; margin: 1em 0 0;">
        <label>User
            <select name="fields.userQuery">
                {{ #filtered.userQuery }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.userQuery }}
            </select>
        </label>
    </p>
    
    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Published-status
            <select name="fields.visibilityStatusQuery">
                {{ #filtered.visibilityStatusQuery }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.visibilityStatusQuery }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0;">
        <label>Section
            <select name="fields.sectionQuery">
                {{ #filtered.sectionQuery }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.sectionQuery }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Site
            <select name="fields.site_id" id="siteSelect">
                {{ #filtered.site_id_list }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ name }}}</option>
                {{ /filtered.site_id_list }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0;">
        <label>Tag-search
            <input name="fields.tagSearch" value="{{fields.tagSearch}}" type="text" placeholder="Search tag ..." />
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Author
            <input name="fields.author" value="{{fields.author}}" type="text" placeholder="Search author ..." />
        </label>
    </p>

    <div style="width: 48%; float: right; margin: 0;">
        <p id="approvalStatus" style="display:none">
            <label>Approved for publishing status
                {{#filtered.articleApprovalStatus.approval.name}}
                <div id="approvalStatusName"><em>"{{filtered.articleApprovalStatus.approval.name}}"</em></div>
                {{/filtered.articleApprovalStatus.approval.name}}
                <select name="fields.approved">
                    {{ #filtered.approvedOptions }}
                    <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                    {{ /filtered.approvedOptions }}
                </select>
            </label>
        </p>

        <p id="proofReadStatus" style="display:none">
            <label>Proof read status
                {{#filtered.articleApprovalStatus.proofRead.name}}
                <div id="proofReadStatusName"><em>"{{filtered.articleApprovalStatus.proofRead.name}}"</em></div>
                {{/filtered.articleApprovalStatus.proofRead.name}}
                <select name="fields.proofRead">
                    {{ #filtered.proofReadOptions }}
                    <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                    {{ /filtered.proofReadOptions }}
                </select>
            </label>
        </p>

        <p id="typesetStatus" style="display:none">
            <label>Typeset status
                {{#filtered.articleApprovalStatus.typeset.name}}
                <div id="typesetStatusName"><em>"{{filtered.articleApprovalStatus.typeset.name}}"</em></div>
                {{/filtered.articleApprovalStatus.typeset.name}}
                <select name="fields.typeset">
                    {{ #filtered.typesetOptions }}
                    <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                    {{ /filtered.typesetOptions }}
                </select>
            </label>
        </p>

        <p id="sentToDistributionStatus" style="display:none">
            <label>Sent to distribution status
                {{#filtered.articleApprovalStatus.sentToDistribution.name}}
                <div id="sentToDistributionStatusName"><em>"{{filtered.articleApprovalStatus.sentToDistribution.name}}"</em></div>
                {{/filtered.articleApprovalStatus.sentToDistribution.name}}

                <select name="fields.sentToDistribution">
                    {{ #filtered.sentToDistributionOptions }}
                    <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                    {{ /filtered.sentToDistributionOptions }}
                </select>
            </label>
        </p>
    </div>

    <p style="clear: both; margin: 0;">
        <label>Text-search
            <input name="fields.textSearch" value="{{fields.textSearch}}" type="text" placeholder="Search title, subtitle, bodytext or ID ..." />
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Display section and tags
            <input type="checkbox" name="fields.displayTags" value="1" {{ #fields.displayTags }}checked{{ /fields.displayTags }}/>
        </label>
    </p>
    
    <p style="width: 48%; float: left; margin: 0;">
        <label>Compact view
            <input type="checkbox" name="fields.compactView" value="1" {{ #fields.compactView }}checked{{ /fields.compactView }}/>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Display author
            <input type="checkbox" name="fields.displayAuthor" value="1" {{ #fields.displayAuthor }}checked{{ /fields.displayAuthor }}/>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0;">
        <label>Hide summary
            <input type="checkbox" name="fields.hideSummary" value="1" {{ #fields.hideSummary }}checked{{ /fields.hideSummary }}/>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Large images
            <input type="checkbox" name="fields.largeImages" value="1" {{ #fields.largeImages }}checked{{ /fields.largeImages }}/>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0;">
        <label>Large titles
            <input type="checkbox" name="fields.largeTitles" value="1" {{ #fields.largeTitles }}checked{{ /fields.largeTitles }}/>
        </label>
    </p>

    <input type="hidden" value="0" name="filtered.page" />

    <p style="clear: both; padding-top: 1em;">
        <input class="labDs-btn" style="float:right;" type="submit" value="OK">
    </p>
</form>

<script>
    const siteSelect = document.getElementById('siteSelect');
    let siteId = siteSelect.value;

    const approvalStatus = document.getElementById('approvalStatus');
    const approvalStatusName = document.getElementById('approvalStatusName');

    // Proof read status
    const proofReadStatus = document.getElementById('proofReadStatus');
    const proofReadStatusName = document.getElementById('proofReadStatusName');

    // Sent to distribution status
    const sentToDistributionStatus = document.getElementById('sentToDistributionStatus');
    const sentToDistributionStatusName = document.getElementById('sentToDistributionStatusName');

    // Typeset status
    const typesetStatus = document.getElementById('typesetStatus');
    const typesetStatusName = document.getElementById('typesetStatusName');

    updateStatusHtml(siteId);
    siteSelect.addEventListener('change', function(event) {
        siteId = event.target.value;
        updateStatusHtml(siteId);
    });

    function updateStatusHtml(siteId) {

        // If no siteId, show all statuses
        if (!siteId) {
            console.log('No site selected');
            approvalStatus.style.display = 'block';
            //approvalStatusName.innerHTML = '';
            proofReadStatus.style.display = 'block';
            //proofReadStatusName.innerHTML = '';
            sentToDistributionStatus.style.display = 'block';
            //sentToDistributionStatusName.innerHTML = '';
            typesetStatus.style.display = 'block';
            //typesetStatusName.innerHTML = '';
            return;
        } 

        const site = Lab.Config.sites.find(site => site.id == siteId);
        const siteApprovalSetup = lab_api.v1.config.get('articleApprovalStatus', { site: site.alias });


        if (site && !siteApprovalSetup) {
            // Config in admin is not set, show only default status: 'Approved'
            approvalStatus.style.display = 'block';
            //approvalStatusName.innerHTML = 'Approved';
            proofReadStatus.style.display = 'none';
            sentToDistributionStatus.style.display = 'none';
            typesetStatus.style.display = 'none';
        }

        if (site && siteApprovalSetup) {
            // Config in admin is set, show according to setup

            if (siteApprovalSetup.approval.enable) {
                approvalStatus.style.display = 'block';
                //approvalStatusName.innerHTML = siteApprovalSetup.approval.name;
            } else {
                approvalStatus.style.display = 'none';
            }

            if (siteApprovalSetup.proofRead.enable) {
                proofReadStatus.style.display = 'block';
                //proofReadStatusName.innerHTML = siteApprovalSetup.proofRead.name;
            } else {
                proofReadStatus.style.display = 'none';
            }

            if (siteApprovalSetup.sentToDistribution.enable) {
                sentToDistributionStatus.style.display = 'block';
                //sentToDistributionStatusName.innerHTML = siteApprovalSetup.sentToDistribution.name;
            } else {
                sentToDistributionStatus.style.display = 'none';
            }

            if (siteApprovalSetup.typeset.enable) {
                typesetStatus.style.display = 'block';
                //typesetStatusName.innerHTML = siteApprovalSetup.typeset.name;
            } else {
                typesetStatus.style.display = 'none';
            }
        }
    }



</script>
