{{ #get.current.filtered.analytics.adnuntiusConnect }}
{{ #network }}
{{ #container }}
{{ #source }}
<script src="https://t.atmng.io/{{ network }}/{{ container }}.{{ source }}.js" async></script>
{{ /source }}
{{ /container }}
{{ /network }}
{{ /get.current.filtered.analytics.adnuntiusConnect }}
