<script>
{{ #helper.trim }}
var k5aMeta = {
    {{ #get.current.filtered.is_article }}
    "paid": {{ #get.current.filtered.paywall.enabled }}1{{ /get.current.filtered.paywall.enabled }}{{ ^get.current.filtered.paywall.enabled }}0{{ /get.current.filtered.paywall.enabled }},
    {{ #get.current.filtered.paywall.enabled }}"paywall": (Dac.clientData.paywall.isAuthenticated ? "open" : "hard"),{{ /get.current.filtered.paywall.enabled }} 
    {{ #get.current.fields.stats_word_count }}"wordCount": "{{ get.current.fields.stats_word_count }}",{{ /get.current.fields.stats_word_count }}
    {{ #get.current.fields.stats_lix }}"lix": "{{ get.current.fields.stats_lix }}",{{ /get.current.fields.stats_lix }}
    "author": [{{{ get.current.filtered.bylinesStringCommaSeparated }}}],
    "tag": [{{{ get.current.filtered.tagsStringCommaSeparated }}}],
    {{ /get.current.filtered.is_article }}
    {{ #get.current.filtered.seotitle }}
    "title": "{{ #helper.sanitizeString }}{{{ get.current.filtered.seotitle }}}{{ /helper.sanitizeString }}",
    {{ /get.current.filtered.seotitle }}
    "teasertitle": "{{ #helper.sanitizeString }}{{{ get.current.filtered.kilkayaTitle }}}{{ /helper.sanitizeString }}",
    "kicker": "{{ #helper.sanitizeString }}{{{ get.current.filtered.kilkayaKicker }}}{{ /helper.sanitizeString }}",
    "url": "{{{ get.current.filtered.staticUrl }}}",
    {{ #get.current.filtered.hidefromfp_time }}
    "hideOnFront": "{{ #helper.sanitizeString }}{{{ get.current.filtered.hidefromfp_time }}}{{ /helper.sanitizeString }}",
    {{ /get.current.filtered.hidefromfp_time }}
    "login": (Dac.clientData.paywall.isAuthenticated ? 1 : 0),
    "subscriber": (Dac.clientData.paywall.isAuthenticated ? 1 : 0),
    "subscriberId": (Dac.clientData.subscriberId ? `"${ Dac.clientData.subscriberId }"` : "")
}; {{ /helper.trim }}
</script>
