#suggestionsContainer .lab-menulist {
    position: absolute;
    width: 100%;
    z-index: 100;
}

#suggestionsContainer .lab-menulist ul {
    max-height: 340px;
}

[data-handler="tagHandler"]:empty:before {
    content: "No tags selected ...";
    color: gray;
}