<section class="op-ad-template">
	<figure class="op-ad op-ad-default">
		<iframe width="300" height="250" style="border:0; margin:0;" src="https://www.facebook.com/adnw_request?placement=463887510468603_463887557135265&adtype=banner300x250"></iframe>
	</figure>
</section>

{{# view.metadata.show_image}}
    {{& placeholder.children }}
	{{& placeholder.nocontent }}
{{/ view.metadata.show_image}}
{{> partial/dagbladet/ia.title.disclaimer}}

<h1>{{& fields.title}}</h1>
<h2>{{& fields.subtitle}}</h2>

{{> partial/dagbladet/ia.opinions.disclaimer}}
<h3 class="op-kicker">
	{{filtered.ia_section}}
</h3>
