{{ #getConfig.piano }}
    {{ ^getConfig.piano.adBlockerDetection }}
        <script>
            (function(src) {
                var a = document.createElement("script");
                a.type = "text/javascript";
                a.async = true;
                a.src = src;
                var b = document.getElementsByTagName("script")[0];
                b.parentNode.insertBefore(a, b)
            })("//{{ getConfig.piano.environment }}/xbuilder/experience/load?aid={{ getConfig.piano.aid }}");
        </script>
    {{ /getConfig.piano.adBlockerDetection }}
{{ /getConfig.piano }}