.google-ad,
.adnuntius-ad,
.google-ad iframe,
.bodytext .column.google-ad.widthFull,
.bodytext .column.adnuntius-ad.widthFull,
.l4 .bodytext .column.adnuntius-ad,
.l4 .bodytext .column.adnuntius-ad.widthFull,
.column.adnuntius-ad.row,
.hamburger-container,
.hamburger-button,
.pageHeader .search,
.social,
section.related,
.articleFooter,
body .column.adnuntius-ad.row,
body .row:not(.fullWidthContent) .column.adnuntius-ad
{
    display: none !important;
}

body .pageHeader .pageHeaderFixed {
    position: relative;
}

@media (max-width: 767px) {
    .resp_fonts body {
        .bodytext,
        .caption,
        article .meta .bylines .byline address .firstname,
        article .meta .bylines .byline address .lastname,
        article .meta .bylines .byline address .description,
        article .meta .dates .dateLabel,
        article .meta .dates time,
        figcaption {
            font-size: max(18px);
            line-height: 1.4;
        }
        article .meta .dates {
            width: 100%;
            .dateGroup {
                justify-content: start;
                grid-auto-flow: column;
            }
        }
    }
}
