<ul class="lab-list lab-grid lab-autogrid">
    <li class="lab-grid-large-9 lab-grid-small-9 lab-btn lab-small lab-footer-upload labicon-pluss_slim" title="Upload new files"> Upload files</li>
    <li class="lab-grid-large-3 lab-grid-small-3 lab-btn lab-small lab-footer-reload labicon-refresh"></li>
</ul>
