<div class="adunit" id="{{{ get.current.filtered.adData.code }}}"></div>
<script>
    googletag.cmd.push(function() {
        googletag.display('{{{ get.current.filtered.adData.code }}}');
    });
</script>
