<div class="caption {{ #helper.trim }}
    {{ #app.isEditor }}expanded{{ /app.isEditor }}
    {{ #get.parent.fields.truncateCaption }}truncate{{ /get.parent.fields.truncateCaption }}
    {{ ^get.parent.fields.truncateCaption }}
        {{ #get.current.fields.truncateCaption }}truncate{{ /get.current.fields.truncateCaption }}
    {{ /get.parent.fields.truncateCaption }}
    {{ /helper.trim }}" data-showmore="{{ #lang }}image.caption.showMoreLabel{{ /lang }}"{{ #get.current.filtered.captionOptions.expandable }} data-expandable="true" data-showcaption="{{ #lang }}image.caption.showCaptionLabel{{ /lang }}" data-hidecaption="{{ #lang }}image.caption.hideCaptionLabel{{ /lang }}"{{ /get.current.filtered.captionOptions.expandable }}>
    <figcaption itemprop="caption" class="{{ #style.collection }}text_decoration fields.imageCaption{{ /style.collection }}">{{ #get.parent.fields.globalCaption }}{{{ get.parent.fields.globalCaption }}}{{ /get.parent.fields.globalCaption }}{{ ^get.parent.fields.globalCaption }}{{{ get.current.fields.imageCaption }}}{{ /get.parent.fields.globalCaption }}</figcaption>
    <figcaption itemprop="author" class="{{ #style.collection }}text_decoration fields.byline{{ /style.collection }}" data-byline-prefix="{{{ getConfig.image.imageBylinePrefix }}}">{{{ get.current.fields.byline }}}</figcaption>
</div>