{{ #get.current.filtered.viewport_list.desktop.shapes }}<div class="dac-hidden-mobile">{{{ get.current.filtered.viewport_list.desktop.shapes }}}</div>{{ /get.current.filtered.viewport_list.desktop.shapes }}
{{ #get.current.filtered.viewport_list.mobile.shapes }}<div class="dac-hidden-desktop-up">{{{ get.current.filtered.viewport_list.mobile.shapes }}}</div>{{ /get.current.filtered.viewport_list.mobile.shapes }}