<url>
    {{ #get.current.filtered.published_url }}<loc>{{ get.current.filtered.published_url }}</loc>{{ /get.current.filtered.published_url }}
    {{ ^get.current.filtered.articleOutOfDate_sitemap }}
        <news:news>
            <news:publication>
                <news:name>{{ getCmsConfig.site.display_name }}</news:name>
                <news:language>{{ get.current.filtered.languageIso639 }}</news:language>
            </news:publication>
            <news:publication_date>{{ get.current.filtered.published_sitemap }}</news:publication_date>
            <news:title>{{ get.current.filtered.title }}</news:title>
        </news:news>
    {{ /get.current.filtered.articleOutOfDate_sitemap }}
    {{ #get.current.filtered.headerImageUrl }}
        <image:image>
            <image:loc>{{ get.current.filtered.headerImageUrl }}</image:loc>
        </image:image>
    {{ /get.current.filtered.headerImageUrl }}
</url>
