<div class="notice-header">
    <h1 class="title headline {{ #style.collection }}text_decoration fields.title{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.title{{ /style.collection }}">{{{ get.current.fields.title }}}</h1>
    <time class="fi-clock" datetime="{{ get.root.filtered.isoDate }}" title="{{ get.root.filtered.publishedDate }}">{{ get.root.filtered.niceDate }}</time>
    <span class="author fi-torsos">{{{ get.current.fields.userName }}}</span>
    <div class="tags">
        {{ #get.root.tags }}
        <span class="{{ get.current.fields.uiColor }}" data-tag="{{{ . }}}">
            {{{.}}}
        </span>
        {{ /get.root.tags }}
    </div>
    {{ #get.parent.filtered.page_settings.social.display.header }}
    <div class="row social">
        <div class="column large-12 small-12">
            {{ #get.parent.filtered.page_settings.social.items }}
                {{ > partial/social_button }}
            {{ /get.parent.filtered.page_settings.social.items }}
        </div>
    </div>
    {{ /get.parent.filtered.page_settings.social.display.header }}
</div>
