<div data-element-guid="{{ get.current.guid }}" class="{{#helper.trim}}
    articleHeader
    column
    {{ #style.collection }}content_decoration{{ /style.collection }}
    {{ #get.current.metadata.image_gradient_direction }}image-gradient-{{ get.current.metadata.image_gradient_direction }}{{ /get.current.metadata.image_gradient_direction }} 
    {{ #style.collection }}box_fullWidth{{ /style.collection }}
    {{ #get.child.image.filtered.captionOptions.display }} hasCaption{{ /get.child.image.filtered.captionOptions.display }}
    {{/helper.trim}}">

    {{{ children.adZone }}}

    {{ #get.current.filtered.layout.top }}
    {{ #render.template }}content/articleHeader/template/partials/{{ . }}{{ /render.template }}
    {{ /get.current.filtered.layout.top }}

    {{ #get.root.fields.showMetaAboveImage }}
        {{{ child.articleMeta }}}
    {{ /get.root.fields.showMetaAboveImage }}

    <div class="media{{ #get.current.filtered.hasFloatingText }} floatingText{{ /get.current.filtered.hasFloatingText }}">
        {{^get.current.metadata.hideimage}}
            {{> content/articleHeader/template/partials/media }}
        {{/get.current.metadata.hideimage}}
        <div class="floatingText">{{#helper.trim}}
            {{ #get.current.filtered.layout.floating }}
            {{ #render.template }}content/articleHeader/template/partials/{{ . }}{{ /render.template }}
            {{ /get.current.filtered.layout.floating }}
        {{/helper.trim}}</div>
    </div>

    {{ #get.child.image.filtered.captionOptions.display }}
    <div class="caption {{ #helper.trim }}
        {{ #app.isEditor }}expanded{{ /app.isEditor }}
        {{ #get.current.fields.truncateCaption }}truncate{{ /get.current.fields.truncateCaption }}
        {{ ^get.current.fields.truncateCaption }}
            {{ #get.child.image.fields.truncateCaption }}truncate{{ /get.child.image.fields.truncateCaption }}
        {{ /get.current.fields.truncateCaption }}
        {{ /helper.trim }}" data-showmore="{{ #lang }}image.caption.showMoreLabel{{ /lang }}"{{ #get.child.image.filtered.captionOptions.expandable }} data-expandable="true" data-showcaption="{{ #lang }}image.caption.showCaptionLabel{{ /lang }}" data-hidecaption="{{ #lang }}image.caption.hideCaptionLabel{{ /lang }}"{{ /get.child.image.filtered.captionOptions.expandable }}>
        <figcaption itemprop="caption" class="{{ #style.collection }}text_decoration child.image.fields.imageCaption{{ /style.collection }}">{{ #get.child.image.fields.globalCaption }}{{{ get.child.image.fields.globalCaption }}}{{ /get.child.image.fields.globalCaption }}{{ ^get.child.image.fields.globalCaption }}{{{ get.child.image.fields.imageCaption }}}{{ /get.child.image.fields.globalCaption }}</figcaption>
        <figcaption itemprop="author" class="{{ #style.collection }}text_decoration child.image.fields.byline{{ /style.collection }}" data-byline-prefix="{{{ getConfig.image.imageBylinePrefix }}}">{{{ get.child.image.fields.byline }}}</figcaption>
    </div>
    {{ /get.child.image.filtered.captionOptions.display }}
    {{ #get.current.filtered.layout.bottom }}
    {{ #render.template }}content/articleHeader/template/partials/{{ . }}{{ /render.template }}
    {{ /get.current.filtered.layout.bottom }}

    {{ ^get.root.fields.showMetaAboveImage }}
        {{{ child.articleMeta }}}
    {{ /get.root.fields.showMetaAboveImage }}
</div>
