<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    column youtube youtube-grid
    {{ size.grid.css }}
    {{ size.grid.absCss }}
{{ /helper.trim }}">
    <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}">
        <div class="youtube-container">
            <iframe 
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                src="//www.youtube.com/embed/{{get.current.fields.vid}}{{{get.current.filtered.startstop}}}{{ #get.current.filtered.startstop }}&{{ /get.current.filtered.startstop }}{{ ^get.current.filtered.startstop }}?{{ /get.current.filtered.startstop }}playlist={{get.current.fields.vid}}&controls=0&mute=1{{ ^app.isEditor }}&autoplay=1&loop=1{{ /app.isEditor }}"
                frameborder="0"
                allow="autoplay;"
                allowfullscreen></iframe> 
        </div>
        {{ #app.isEditor }}
        <div class="youtube-drag-handle labicon-dragButton dragger"></div>
        {{ /app.isEditor }}
    </div>
</div>