<div data-element-guid="{{ get.current.guid }}" id="changelog-{{ get.current.id }}" class="{{ #helper.trim }}column changelog
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
    {{ get.current.filtered.options.cssString }}
    {{ #app.isEditor }}is-editor{{ /app.isEditor }}
    {{ /helper.trim }}">
    {{{ get.current.filtered.styleSheets }}}
    {{ #get.current.filtered.changelogHasContent }}
        <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}" style="{{ #style.collection }}content_inline_style{{ /style.collection }}">
            <details {{ #app.isEditor }}open{{ /app.isEditor }} {{ #get.current.metadata.expandedState }}open{{ /get.current.metadata.expandedState }}>
                <summary>{{ #lang }}changelog.changelogLabel{{ /lang }}</summary>
                <ul>
                    {{ #get.current.filtered.changelog }}
                    <li>
                        <time>{{ time }}</time>
                        <div>{{{ changelog }}}</div>
                    </li>
                    {{ /get.current.filtered.changelog }}
                </ul>
                {{ #getConfig.changelog.url }}
                    <a href="{{ getConfig.changelog.url }}" class="changelog-link">{{ getConfig.changelog.label }}</a>
                {{ /getConfig.changelog.url }}
            </details>
        </div>
    {{ /get.current.filtered.changelogHasContent }}
    {{ ^get.current.filtered.changelogHasContent }}
        {{ #app.isEditor }}
        <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}" style="{{ #style.collection }}content_inline_style{{ /style.collection }}">
            <details {{ #app.isEditor }}open{{ /app.isEditor }} {{ #get.current.metadata.expandedState }}open{{ /get.current.metadata.expandedState }}>
                <summary>{{ #lang }}changelog.changelogLabel{{ /lang }}</summary>
                {{ #getConfig.changelog.url }}
                    <a href="{{ getConfig.changelog.url }}" class="changelog-link">{{ getConfig.changelog.label }}</a>
                {{ /getConfig.changelog.url }}
            </details>
        </div>
        {{ /app.isEditor }}
    {{ /get.current.filtered.changelogHasContent }}
</div>
