<form class="lab-grid lab-valign-center">
    <input type="text" placeholder="First name (optional)" name="firstname" autocomplete="off" class="lab-grid-large-6 lab-grid-gap" />
    <input type="text" placeholder="Last name (optional)" name="lastname" autocomplete="off" class="lab-grid-large-6 lab-grid-gap" />
    <button type="button" class="lab-btn lab-selected lab-grid-large-6 lab-grid-gap">Add new Byline</button>
</form>
