<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}browserFeed
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
    {{ get.current.metadata.css }}
    {{ /helper.trim }}">
    <div class="content grid {{ #style.collection }}content_decoration{{ /style.collection }}" style="{{ #style.collection }}content_inline_style{{ /style.collection }}"></div>
    <script type="module">
        import { BrowserFeed } from '/view-resources/baseview/public/common/baseview/browserFeed.js';
        const handler = new BrowserFeed({
            target: document.querySelector('[data-element-guid="{{ get.current.guid }}"] .content'),
            type: '{{ get.current.fields.type }}',
            contentType: '{{ get.current.fields.contentType }}',
            contentCount: '{{ get.current.fields.contentCount }}',
            pageId: '{{ get.current.fields.pageId }}',
            apiUrl: '{{{ getCmsConfig.front_api_url }}}',
            isDebug: new URLSearchParams(window.location.search).get('debug') === '1',
        });
    </script>
</div>
