<form method="post">
    <h2 class="lab-title lab-space-below-medium">Settings for Labrador Search</h2>
    <p>You can click on the title and buttons in the editor to edit labels</p>
    <div class="labrador-search-form">
        <div class="lab-formgroup lab-grid lab-grid-gap ">
            <h4 class="lab-title lab-grid-large-12 lab-grid-gap">Options</h4>
            <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                <label for="id-fields.searchPlaceholder">Placeholder for search</label>
                <input type="text" id="id-fields.searchPlaceholder" name="fields.searchPlaceholder" value="{{ get.current.filtered.searchPlaceholder }}">
            </div>
            <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                <label for="id-fields.nohitsLabel">Text for no hits</label>
                <input type="text" id="id-fields.nohitsLabel" name="fields.nohitsLabel" value="{{ get.current.filtered.nohitsLabel }}">
            </div>
            <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                <label for="id-fields.orderBy">Order search result by</label>
                <select id="id-fields.orderBy" name="fields.orderBy">
                    {{ #get.current.filtered.orderByOptions }}
                        <option value="{{ value }}" {{ #selected }}selected{{ /selected }}>{{ label }}</option>
                    {{ /get.current.filtered.orderByOptions }}
                </select>
            </div>
        </div>
        <div class="lab-formgroup lab-grid lab-grid-gap">
            <h4 class="lab-title lab-grid-large-12 lab-grid-gap">Search filter options</h4>
            <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap lab-inline">
                <label for="id-fields.displayAdvanced">Display search options on front</label>
                <input type="checkbox" id="id-fields.displayAdvanced" name="fields.displayAdvanced" value="1" {{ #get.current.fields.displayAdvanced }}checked="true"{{ /get.current.fields.displayAdvanced }}>
            </div>
            <div class="lab-formgroup lab-grid lab-grid-gap" data-require="displayAdvanced" style="margin-bottom: 0;">
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.advancedOpenText">Label for opening search filter</label>
                    <input type="text" id="id-fields.advancedOpenText" name="fields.advancedOpenText" value="{{ get.current.filtered.advancedOpenText }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.advancedCloseText">Label for closing search filter</label>
                    <input type="text" id="id-fields.advancedCloseText" name="fields.advancedCloseText" value="{{ get.current.filtered.advancedCloseText }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.fromDateLabel">Label for from date</label>
                    <input type="text" id="id-fields.fromDateLabel" name="fields.fromDateLabel" value="{{ get.current.filtered.fromDateLabel }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.toDateLabel">Label for to date</label>
                    <input type="text" id="id-fields.toDateLabel" name="fields.toDateLabel" value="{{ get.current.filtered.toDateLabel }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.tagLabel">Label for tag</label>
                    <input type="text" id="id-fields.tagLabel" name="fields.tagLabel" value="{{ get.current.filtered.tagLabel }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="id-fields.authorLabel">Label for author</label>
                    <input type="text" id="id-fields.authorLabel" name="fields.authorLabel" value="{{ get.current.filtered.authorLabel }}">
                </div>
                <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap lab-inline">
                    <label for="id-fields.displaySites">Display site filter</label>
                    <input type="checkbox" id="id-fields.displaySites" name="fields.displaySites" value="1" {{ #get.current.fields.displaySites }}checked="true"{{ /get.current.fields.displaySites }}>
                </div>
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap" data-require="displaySites">
                    <label for="id-fields.allSitesLabel">Label for all sites</label>
                    <input type="text" id="id-fields.allSitesLabel" name="fields.allSitesLabel" value="{{ get.current.filtered.allSitesLabel }}">
                </div>
            </div>
            <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap">
                <p class="lab-info">Note: For articles without image you can select a <a href="/settings/cp?page=fallback_image" target="_blank">fallback image in the admin pages</a>.</p>
            </div>
        </div>
        <div class="lab-formgroup lab-grid lab-grid-gap">
            <h4 class="lab-title lab-grid-large-12 lab-grid-gap">Article options</h4>
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-gap lab-inline">
                <label for="id-fields.hideSiteName">Hide site name</label>
                <input type="checkbox" id="id-fields.hideSiteName" name="fields.hideSiteName" value="1" {{ #get.current.fields.hideSiteName }}checked="true"{{ /get.current.fields.hideSiteName }}>
            </div>
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-gap lab-inline">
                <label for="id-fields.hidePublishedDate">Hide published date</label>
                <input type="checkbox" id="id-fields.hidePublishedDate" name="fields.hidePublishedDate" value="1" {{ #get.current.fields.hidePublishedDate }}checked="true"{{ /get.current.fields.hidePublishedDate }}>
            </div>
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-gap lab-inline">
                <label for="id-fields.hideSection">Hide section</label>
                <input type="checkbox" id="id-fields.hideSection" name="fields.hideSection" value="1" {{ #get.current.fields.hideSection }}checked="true"{{ /get.current.fields.hideSection }}>
            </div>
            <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                <label for="id-fields.desktopWidth">Article width (desktop)</label>
                <select id="id-fields.desktopWidth" name="fields.desktopWidth">
                    {{ #get.current.filtered.desktopWidth }}
                        <option value="{{ value }}"{{ #selected }} selected{{ /selected }}>{{ key }}</option>
                    {{ /get.current.filtered.desktopWidth }}
                </select>
            </div>
        </div>
        <div class="lab-formgroup lab-grid lab-grid-gap ">
            <h4 class="lab-title lab-grid-large-12 lab-grid-gap">Sites to search from</h4>
            {{ #get.current.filtered.sites }}
            <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap lab-inline">
                <label for="id-fields.allowedSites_json.{{ alias }}">{{ displayName }}</label>
                <input type="checkbox" id="id-fields.allowedSites_json.{{ alias }}" name="fields.allowedSites_json.{{ alias }}" value="{{ id }}" {{ #selected }}checked="true"{{ /selected }}>
            </div>
            {{ /get.current.filtered.sites }}
        </div>
    </div>
    <script type="module">
        const displayAdvanced = document.querySelector('.labrador-search-form [name="fields.displayAdvanced"]');
        if (displayAdvanced) {
            const targets = document.querySelectorAll('.labrador-search-form [data-require="displayAdvanced"]');
            const updateUi = () => {
                for (const element of targets) {
                    element.style.display = displayAdvanced.checked ? 'flex' : 'none';
                }
            };
            updateUi();
            displayAdvanced.addEventListener('change', updateUi);
        }

        const displaySites = document.querySelector('.labrador-search-form [name="fields.displaySites"]');
        if (displaySites) {
            const targets = document.querySelectorAll('.labrador-search-form [data-require="displaySites"]');
            const updateUi = () => {
                for (const element of targets) {
                    element.style.display = displaySites.checked ? 'block' : 'none';
                }
            };
            updateUi();
            displaySites.addEventListener('change', updateUi);
        }
    </script>
</form>
