<div class="lab-modal-form lab-grid">
    <div class="lab-formgroup lab-grid lab-grid-gap ">
        <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap">
            <label for="comment">Comment</label>
            <textarea id="comment" name="comment"></textarea>
        </div>
    </div>
</div>
