@use '../../css_scss/components/vars' as *;

.graphic {
    .img {
        &.centered {
            display: flex;
            justify-content: center;
        }

        img:not([width]) {
            width: 100%;
        }

        @include desktop_down {
            img {
                width: var(--graphicWidthMobile, 100%) !important;
            }
        }
    }
}
