<form method="post">
    <h2 class="lab-title lab-space-below-medium">Embed post from Instagram</h2>
    <div>
        <div class="lab-formgroup lab-grid lab-grid-gap ">
            <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap">
                <label for="id-fields.instagramUrl">Instagram URL</label>
                <textarea name="fields.instagramUrl" id="id-fields.instagramUrl" cols="30" rows="10">{{{ get.current.fields.instagramUrl }}}</textarea>
                <p class="lab-para">Find post to embed at <a target="_blank" href="https://www.instagram.com">instagram.com</a> and copy the post url into the field above.</p>
            </div>
        </div>
    </div>
</form>
