/* Style for contentbox slideshow */
@use "../../css_scss/components/vars" as *;

$slideshowCaptionHeight: 35px;

.slideshow {
    position: relative;
    padding-bottom: 0.2em;

    &.slideshow-article {
        nav {
            ul {
                li {
                    &.nav-dots {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #fff;
        text-align: center;
        pointer-events: none;
        box-sizing: content-box;

        ul {
            margin: 0;
            padding: 0.95rem;
            position: absolute;
            top: 0;
            width: 100%;

            li {
                pointer-events: all;
                display: inline-block;
                cursor: pointer;

                &.nav-previous,
                &.nav-next {
                    transition: opacity 0.2s;
                    opacity: 0.7;
                    border-radius: 100%;
                    width: 40px;
                    height: 40px;
                    background-color: rgba(255, 255, 255, 0.7);
                    margin-right: 10px;

                    &:hover {
                        opacity: 1;
                    }

                    &:before {
                        content: "";
                        width: 16px;
                        height: 16px;
                        border-right: 4px solid #000;
                        border-top: 4px solid #000;
                        transform: rotate(45deg);
                        display: block;
                        margin: 12px 0 0 9px;
                    }

                }
                &.nav-previous {
                    float: left;
                    transform: rotate(-135deg);
                    margin-left: 10px;
                    &:before {
                        transform: rotate(0);
                        margin: 13px 0 0 10px;
                    }
                }
                &.nav-next {
                    float: right;
                }
                &.nav-dots {
                    position: absolute;
                    top: 0;
                    left: 0.95rem;
                    right: 0.95rem;
                    display: flex;
                    padding: 0;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }
                &.nav-dots span {
                    display: block;
                    flex: 1;
                    height: 8px;
                    background-color: rgba(0, 0, 0, 0.8);
                    border-right: 1px solid #000;
                    border-left: 1px solid rgba(255, 255, 255, 0.5);
                    transition: background-color 0.2s;

                    &.selected {
                        background-color: rgba(230, 230, 230, 0.8);
                    }

                    &:first-child {
                        border-left: none;
                    }

                    &:last-child {
                        border-right: none;
                    }

                    &:hover {
                        background-color: rgba(230, 230, 230, 0.8);
                    }
                }

                &.slideshow-label {
                    background-color: rgba(255, 255, 255, 0.5);
                    color: #000;
                    border-radius: 2rem;
                    padding: 6px 10px;
                    font-size: 0.9rem;
                    line-height: 1;
                    margin-top: 10px;
                    cursor: default;
                }
            }
        }
    }

    .slideshow-container {
        .slideshow-image {
            display: block;
            transition: opacity 0.5s;
            position: relative;

            &.hidden {
                display: none;
            }

            p {
                margin: 0.5em 0 0;
                padding: 0.5em 0em;
                font-size: 0.8rem;
                min-height: 2.8em;

                &:empty {
                    display: none;
                }

                &:before {
                    margin-right: 0.25em;
                    font-size: 2.8em;
                    float: left;
                    color: dimgrey;
                }
            }

            figure {
                position: relative;
                overflow: hidden;

                img {
                    display: block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    position: absolute;
                    height: 100%;
                    width: auto;
                    max-width: none;
                }
            }

            figure:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: 70%;
                /* Matches aspect-ratio of 0.7 */
            }
        }
    }
}

.bodytext .slideshow nav ul {
    padding: $columns_gutter;
}

.slideshow.columns nav ul {
    margin: 0 $columns_gutter;
}

.articleHeader .slideshow-article {
    margin-bottom: 1rem;

    figure {
        margin-bottom: 0;
    }
}


// Lab 4-version.

$slideshowFigureMargin: 0 1rem;
$slideshowCaptionMargin: 0.5rem 0 0;

.content[class*=" bg-"] .slideshowcontainer figure,
.content.hasContentPadding .slideshowcontainer figure,
body article.column .content .slideshowcontainer figure,
body article.column .content[class*=" bg-"] .slideshowcontainer figure,
body article.column .content.hasContentPadding .slideshowcontainer figure {
    margin: $slideshowFigureMargin;
}

.content[class*=" bg-"] .slideshowcontainer figure .caption,
.content.hasContentPadding .slideshowcontainer figure .caption {
    margin: $slideshowCaptionMargin;

    figcaption:not(.expanded) .caption-toggle {
        margin-right: 1rem; // because $bg_text_padding
    }
}

@include desktop {
    .desktop-fullWidth .slideshowcontainer figure .caption {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@include desktop_down {
    .mobile-fullWidth .slideshowcontainer figure .caption {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.slideshowcontainer {
    position: relative;

    .scroll-container {
        display: flex;
        position: relative;
        user-select: none;
        transition: transform 0.6s;
        transition-duration: 0.6s;
    }

    .scroll-item {
        flex: 0 0 100%;
        width: 100%;
        margin: $slideshowFigureMargin;
    }
    
    figure {
        position: relative;
        width: 100%;

        .img {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 55px;
            width: 100%;
            max-width: 100%;
            background-color: #000;

            picture {
                flex: 0 1 auto;
                display: flex;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .caption {
            margin: 0;
            height: 55px;
            padding-top: 5px;
            overflow: hidden;
        }

        .caption figcaption {
            overflow: hidden; 
            white-space:nowrap;
            text-overflow: ellipsis;
            display: block;
    
            &[itemprop=author] {
                margin-left: 0;
            }

            .caption-toggle {
                float: right;

                &:after {
                    content: attr(data-showmore);
                    float: right;
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                    color: #0078a0;
                    cursor: pointer;
                }

                &:hover:after {
                    text-decoration: underline;
                }
            }

            &.expanded {
                position: absolute;
                bottom: 55px;
                overflow: unset;
                text-overflow: unset;
                white-space: normal;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                color: #fff;
                padding: 1rem;

                .caption-toggle{
                    &:after {
                        content: attr(data-showless);
                        color: #50d3fe;
                    }
                }
            }

            &.lab-editActive {
                overflow: auto;
                white-space: unset;

                .caption-toggle:after {
                    content: "-";
                }
            }

        }
    }

    $size: 170;
    @while $size > 19 {
        [data-aspectratio="#{$size}"] figure .img:before {
            padding-top: $size * 1%;
        }
        $size: $size - 10;
    }

    [data-aspectratio="45"] figure .img:before {
        padding-top: 45%;
    }

    &.contain {
        figure {
            .img {
                picture {
                    width: 100%;
                    img {
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
    }

    &.background-light {
        figure {
            .img {
                background-color: #fff;
            }
        }
    }

    nav .arrow {
        position: absolute;
        z-index: 110;
        top: 10px;
        left: 10px;
        border-radius: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.6);

        &:hover {
            border-color: #fff;
        }

        span {
            border-bottom: 2px solid #fff;
            border-left: 2px solid #fff;
            display: block;
            width: 0.7rem;
            height: 0.7rem;
            margin: 0.8rem;
            transform: translateX(0.2rem) rotate(45deg);
        }

        &.nav-hidden {
            display: none;
        }
    }

    nav .arrow.right {
        left: auto;
        right: 10px;

        span {
            transform: translateX(-0.2rem) rotate(-135deg);
        }
    }

    nav ul {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 20px 50px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        z-index: 10;

        li {
            cursor: pointer;
            flex: 0 0 auto;
            margin: 0.1rem;
            width: 0.8rem;
            height: 0.8rem;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            border: 2px solid #fff;
            box-shadow: 0 0 3px 0 #000;
            transition: background-color 0.5s;

            &.selected {
                background-color: rgba(255, 255, 255, 0.9);
            }
        }
    }

    nav div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        figure {
            flex: 0 0 10%;
            border: 3px solid transparent;
            transition: border-color 0.3s;
            cursor: pointer;
            max-width: 140px;

            .img {
                position: relative;
                height: 90px;
                background-color: transparent;

                img {
                    width: auto;
                    max-height: 95%;
                }
            }

            &.selected {
                border: 3px solid gray;
            }
        }
    }
    
    @include desktop_down {
        nav div {
            figure {
                flex: 0 0 25%;

                .img {
                    height: 60px;
                }
            }
        }
    }

    &.hideCaptions.hideBylines {
        .caption {
            display: none;
        }
        figure .img {
            bottom: 0;
        }
    }

    &.hideCaptions {
        .caption [itemprop=caption] {
            display: none;
        }
    }

    &.hideBylines {
        .caption [itemprop=author] {
            display: none;
        }
    }

    &.hideCaptions,
    &.hideBylines {
        .caption {
            height: $slideshowCaptionHeight;

            figcaption.expanded {
                bottom: $slideshowCaptionHeight;
            }
        }

        figure .img {
            bottom: $slideshowCaptionHeight;
        }
    }

}

article.column .slideshowcontainer .scroll-item {
    margin: 0;

    figure {
        margin: 0 !important;
    }
}

// Standalone gallery pages
body.gallery .main.gallery {
    background-color: var(--gallery-page-background-color);
    color: var(--gallery-page-text-color);
    min-height: 85vh;
    padding-bottom: 2rem;
    
    .gallery-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.7rem;
        
        h1 {
            font-size: 20px;
            margin: 0;
            padding: 0;
        }
        
        nav ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            
            li {
                margin-left: 1rem;
                font-size: 1.2em;
                cursor: pointer;
                
                &.gallery-toggle-all {
                    margin-left: 2rem;
                    width: 1em;
                    text-align: right;
                }
                
                a {
                    text-decoration: none;
                    color: inherit;
                    
                    &.fi-social-threads:before {
                        margin-top: 8px;
                    }
                    
                    &.fi-social-bluesky:before {
                        margin-top: 8px;
                    }

                    &.fi-x {
                        padding: 0.5em;
                    }
                }
                .fi-social-copyLink,
                .fi-social-talandeWebb {
                    color: var(--gallery-page-text-color);
                }
            }
        }
    }

    .column .content {
        // Override optional bg-color:
        background-color: transparent;
        // Override optional padding:
        padding: 0;
    }

    .slideshowcontainer figure .img {
        background-color: transparent;
    }

    .scroll-container {
        overflow-y: hidden;
    }
    
    .slideshowcontainer nav .arrow {
        top: 40%;

        &.left {
            left: 2rem;
        }

        &.right {
            right: 2rem;
        }
    }

    .sticky-gallery-ad {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .slideshow-box {
        padding: 0;
        .scroll-item {
            margin: 0;

            figure {
                background-color: var(--gallery-page-background-color);
                z-index: 100;
                max-height: 92vh;
            }

            @include mobile {
                figure {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }

    .sticky-gallery-ad {

        .adunit {
            outline: 1px solid yellow;
        }
    }

}

body.gallery .slideshowcontainer nav .slideshow-preview {
    display: none;
}

body.gallery .slideshow-box {
    padding-bottom: 2rem;
}

body.gallery.gallery-all {
    .scroll-container,
    nav .arrow,
    .gallery-header ul,
    .slideshowcontainer nav ul,
    .gallery-link {
        display: none;
    }
    
    .slideshowcontainer nav .slideshow-preview {
        display: block;
        padding-bottom: 3rem;
        background-color: var(--gallery-page-background-color);
        position: relative;
        min-height: 75vh;
        z-index: 100;
        
        .slideshow-images {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-gap: 12px;
        }
        
        figure {
            max-width: unset;
            margin: 0;

            .img {
                height: unset;
                
                img {
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            }

            &.selected {
                border: none;
            }
        }
    }
}

@include desktop {
    body.gallery .slideshowcontainer .scroll-item figure {
        margin: 0;
    }
}

@include mobile {
    body.gallery {
        
        .main.gallery {

            .gallery-header {
                flex-direction: column;
                background-color: var(--gallery-page-background-color);
                position: sticky;
                top: 0;
                z-index: 2010;

                h1 {
                    padding-bottom: 0.5em;
                }
            }
        }

        .main.gallery .slideshowcontainer nav .arrow {
            &.left {
                left: 0.5rem;
            }

            &.right {
                right: 0.5rem;
            }
        }
        
        .slideshowcontainer .scroll-item {
            margin: 0 0 2rem;

            figure {
                margin: 0;
                padding: 0;

                .caption {
                    margin-right: 1rem;
                    margin-left: 1rem;

                    figcaption.expanded {
                        left: 0;
                    }
                }
            }
        }
        
        &.gallery-all .slideshowcontainer nav .slideshow-preview {
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            .slideshow-images {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}


// Full view mode / Gallery mode
.slideshowcontainer.gallery-mode {

    .scroll-item {
        a {
            color: inherit;
        }
    }

    .slideshow-preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;

        .slideshow-text {
            flex: 1 0 50%;
            flex-direction: column;
            max-width: 240px;

            h2 {
                font-size: 1.4rem;
            }

            p {
                font-size: 1rem;
            }

            &:empty {
                display: none;
            }
        }

        .slideshow-images {
            flex: 0 1 100%;
            overflow: auto;
            display: flex;
            flex-wrap: nowrap;

            figure {
                margin: 0;
                &.selected {
                    border: none;
                }
            }

            .img {
                aspect-ratio: 1;
                height: 120px;

                img {
                    object-fit: cover;
                    aspect-ratio: 1;
                }
            }

            .gallery-link {
                position: absolute;
                right: 0;
                bottom: 0;
                background-color: #fff;
                border: 1px solid #000;
                color: #000;
                text-decoration: none;

                &:before {
                    width: 1em;
                    height: 1em;
                    font-size: 1.6em;
                    vertical-align: middle;
                    text-align: center;
                    transform: rotate(45deg);
                }
            }
        }
    }
}

@include mobile {
    .slideshowcontainer.gallery-mode {

        .slideshow-preview {
            flex-direction: column;

            .slideshow-text {
                flex-direction: column;
                flex: 0 0 100%;
                max-width: unset;
                width: 100%;
            }

            .slideshow-images {
                flex: 0 0 100%;
                overflow: auto;
                width: 100%;

                .img {
                    height: 80px;
                }
            }
        }
    }
}
    