<div data-element-guid="{{ get.current.guid }}" class="simple">
    {{{ get.current.filtered.styleSheets }}}
    <div class="content fullwidthTarget">
        {{ > content/simplestream/template/videoData }}
    </div>
</div>
