<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    column
    Vimond
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
{{ /helper.trim }}">
    {{{ get.current.filtered.styleSheets }}}
    <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}" style="{{ #style.collection }}content_inline_style{{ /style.collection }}">
        <div class="container">
            {{ #get.current.fields.playerUrl }}
            <iframe src="{{ get.current.fields.playerUrl }}" width="100%" height="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture;" allowfullscreen></iframe>
            {{ /get.current.fields.playerUrl }}
            {{ ^get.current.fields.playerUrl }}
            <div class="notice">No video embed code provided for Vimond.</div>
            {{ /get.current.fields.playerUrl }}

            {{ #app.isEditor }}
            <div class="video-drag-handle labicon-dragButton dragger"></div>
            {{ /app.isEditor }}
        </div>
        {{ #get.current.fields.displayCaption }}
        {{ > content/vimond/template/partials/caption }}
        {{ /get.current.fields.displayCaption }}
    </div>
</div>
