<div class="lab-modal-form lab-grid">
    <div class="lab-formgroup lab-grid lab-grid-gap ">
        <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap some-custom-css-class and-another-class">
            <label for="vimond-settings-playerUrl">Player URL</label>
            <input type="text" id="vimond-settings-playerUrl" name="fields.playerUrl" {{ #get.current.fields.playerUrl }}value="{{ get.current.fields.playerUrl }}"{{ /get.current.fields.playerUrl }}>
        </div>
    </div>
    <div class="lab-formgroup">
        <h2>Options</h2>
        <div class="lab-formgroup-item lab-inline">
            <input type="checkbox" id="vimond-settings-display_caption" name="fields.displayCaption" value="1" {{ #get.current.fields.displayCaption }}checked{{ /get.current.fields.displayCaption }}>
            <label for="vimond-settings-display_caption">Display Caption</label>
        </div>
    </div>
</div>
