/* Style for contentbox articleHeader */
@use "../../css_scss/components/font-size" as *;
@use "../../css_scss/components/vars" as *;

.articleHeader {
    padding-top: 1em;
    margin-bottom: 1em;

    figure,
    .graphic {
        margin-bottom: 1.5em;
    }

    &.hasCaption figure {
        margin-bottom: 0.5em;
    }

    .headline {
        margin: 0;
        padding: 0;
        @include font-size(44);
    }

    .subtitle {
        @include font-size(21);
        margin: 12px 0;
    }

    .kicker {
        @include font-size(21);

        &:empty {
            display: none;
        }
    }

    .paywallLabel {
        background-color: #fff;
        color: #000;
        text-transform: uppercase;
        line-height: 1.2;
        padding: 0.3rem 0.5rem;
        box-shadow: 0 0 4px -1px #000;
        border-radius: 0.2rem;
        z-index: 1;
        width: fit-content;
        margin-bottom: 1rem;
    }

    // More spacing on top if the image is hidden
    &:not(:has(figure)) {
        .paywallLabel {
            margin-top: 1rem;
        }
    }

    .kicker, 
    .headline, 
    .subtitle {
        overflow-wrap: break-word;

        @include desktop {
            &[class*=" bg-"], 
            &.hasTextPadding {
                padding: 0.6rem $columns_gutter !important;
            }
        }

        @include desktop_down {
            &[class*=" bg-"]:not(.color_mobile_no_bg_color), 
            &.hasTextPadding:not(.color_mobile_no_bg_color),
            &.mobile-hasTextPadding {
                padding: 0.6rem $columns_gutter !important;
            }
        }
    }

    @for $i from 1 through 64 {
        &.rounded-image-edge-#{$i} {
            .media {
                figure {
                    border-radius: #{$i}px;
                    overflow: hidden;

                    .img {
                        picture {
                            img {
                                border-radius: inherit;
                            }
                        }
                    }

                    .imageOverlay {
                        border-radius: inherit;
                    }
                }
            }

            &[class*= " bg-"],
            &[class*=" color_mobile_bg-"] {
                .media {
                    padding: 1rem;
                }
            }
        }
    }

    &.rounded-image {
        .media {
            figure {
                .img {
                    picture {
                        img {
                            clip-path: circle();
                        }
                    }
                }
            }
        }

        &[class*= " bg-"],
        &[class*=" color_mobile_bg-"] {
            .media {
                padding-top: 1rem;

                &.mobile-floatLeft,
                &.mobile-floatRight {
                    padding-bottom: 2rem;
                }

                @include tablet_up {
                    &.desktop-floatLeft,
                    &.desktop-floatRight {
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }

    // Section
    [class*="lab-article-section-"] {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.2px;

        &.hasTextPadding,
        &[class*="bg-"] {
            padding-inline: 1rem;
            padding-block: 0.6rem;
            width: fit-content;

            &.align-center {
                width: initial;
            }

            &.align-right {
                max-inline-size: 100%;
                margin-inline-start: auto; 
            }
        }
    }

    .lab-article-section-link {
        color: inherit;
        width: fit-content;
        display: block;

        &:hover {
            > * {
                text-decoration: underline;
            }
        }
    }

    &.align-center {
        [class*="lab-article-section-"] {
            &.hasTextPadding,
            &[class*="bg-"] {
                display: inline-block;
            }
        }
    }

    &:has(.lab-article-section-aligned-kicker.lab-article-section-below):not(:has(.kicker ~ .media)):not(:has(.media.floatingText .kicker)),
    &:has(.lab-article-section-aligned-kicker.lab-article-section-top):not(:has(.media ~ .kicker)):not(:has(.media.floatingText .kicker)):not(:has(.headline ~ .kicker)) {
        .lab-article-section-link {
            display: inline-block;
        }

        .lab-article-section-aligned-kicker {
            padding-right: 1rem;
            display: inline-block;
            width: fit-content;

            &.hasTextPadding {
                margin-right: 1rem;
            }
        }

        .kicker {
            &:not(:empty) {
                display: inline-block;
                width: fit-content;
                padding-inline: 1rem;
            }
        }
    }

    .media {
        position: relative;

        .floatingText {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: #fff;
            padding-bottom: $columns_gutter;

            &:empty {
                display:none;
            }

            @include mobile {
                width: 100%;
            }

            .kicker, 
            .headline, 
            .subtitle {
                margin-right: $columns_gutter;
                margin-left: $columns_gutter;
                margin-bottom: calc($columns_gutter / 2);
                margin-top: 0;
            }

            &:only-child {
                position: initial;
            }
        }

        &.floatingText {
            margin-bottom: 60px;

            figure {
                margin-bottom: 0;

                .caption {
                    position: absolute;
                }
            }
        }
    }

    .figcaption {
        font-size: 0.9em;
        margin-bottom: 1.5em;
    }

    &.vertical-text-align-center {
        .media .floatingText {
            bottom: unset;
            top: 50%;
            justify-content: center;
            transform: translateY(-50%);
        }
    }
}

.articleHeader.fullWidth {
    // Note: Fullwidth also defined in main.scss
    figure {
        overflow: hidden;
        position: relative;
        clear: both;
    }

    &.fullWithLimit {
        figure {
            figcaption {
                background-color: transparent;
                position: relative;
                color: inherit;
            }
        }
    }

    .media {
        .floatingText {
            .kicker, .headline, .subtitle {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

@include mobile {
    .articleHeader .headline {
        @include font-size(34);
    }

    .articleHeader.fullWidth figure p {
        margin-left: 0.95rem;
        margin-right: 0.95rem;
        position: relative;
        background-color: transparent;
        color: inherit;
        padding: 0;
        width: auto;
    }
}

.custom-bodytext-width, .custom-bodytext-alignment {
    &.articleHeader-bodytext-width, 
    &.articleHeader-image-bodytext-width, 
    &.articleHeader-meta-bodytext-width {
        .articleHeader {
            padding-inline: 0;

            .kicker, [class^="lab-article-section-"], .headline, .subtitle, .caption, .media, .meta {
                padding-inline: var(--columns-gutter) !important;
            }
        }
    }
}

.custom-bodytext-width {
    &.articleHeader-bodytext-width {
        .articleHeader {
            .kicker, 
            .headline, 
            .subtitle, 
            .caption {
                max-width: calc(var(--bodytext-width, 100%) + var(--columns-gutter) * 2);
            }
        }
    }

    &.articleHeader-image-bodytext-width {
        .articleHeader {
            .media {
                max-width: calc(var(--bodytext-width, 100%) + var(--columns-gutter) * 2);
            }
        }
    }
}

.custom-bodytext-alignment {
    &.articleHeader-bodytext-width {
        .articleHeader {
            .kicker, 
            .headline, 
            .subtitle, 
            .caption {
                margin-inline: calc(var(--bodytext-alignment) - var(--columns-gutter));
            }
        }
    }
    &.articleHeader-image-bodytext-width {
        .articleHeader {
            .media {
                margin-inline: calc(var(--bodytext-alignment) - var(--columns-gutter));
            }
        }
    }
}


// Page-styles:

.pagestyle_centered .articleHeader {
    text-align: center;

    .lab-article-section {
        &.hasTextPadding,
        &[class*="bg-"] {
            display: inline-block;
        }
    }

    figure .caption {
        text-align: left;
    }

    &.fullWidth .floatingText {
        left: 0;
        right: 0;
    }
}

.pagestyle_centered:not(.custom-bodytext-alignment) {
    .kicker, 
    .headline, 
    .subtitle, 
    .caption, 
    .media {
        margin-inline: auto;
    }
}

// Style for Lab 4
.l4 .articleHeader {
    .media.floatingText {
        margin-bottom: 0.7em;
    }

    .caption {
        margin-bottom: 1em;
    }
}
