.audio {
    audio {
        width: 100%;
        display: block;
    }

    .content[class*=" bg-"],
    .content.hasContentPadding, 
    .content[class*=" border-"] {
        padding-bottom: $bg_text_padding;
    }

    .audio-missing-file {
        padding: 0.5rem;
        color: orange;
    }
}