<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    bodytext
    large-12
    small-12
    medium-12
    {{ #get.current.filtered.paywall }}
    {{ #active }}{{ ^access }}
        {{ #app.isFront }}{{ #getConfig.paywall.article.paywallLocked }}lab-paywall-locked{{ /getConfig.paywall.article.paywallLocked}}{{ /app.isFront }}
    {{ /access }}{{ /active }}
    {{ #isInternal }}{{ #active }}
        {{ ^access }} teaserContent {{ /access }}
    {{ /active }}{{ /isInternal }}
    {{ /get.current.filtered.paywall }}
    {{ /helper.trim }}">
    
    {{ #render.partial }}insideBodytextAbove{{ /render.partial }}

    {{{ get.current.filtered.bodytext }}}

    {{ #render.partial }}insideBodytextBelow{{ /render.partial }}

    {{ #get.current.filtered.paywall }}
        {{ #active }}
            {{ ^access }}
                {{ #displaySalesPosters }}
                    {{ ^getConfig.paywall.article.blurAllContent }}
                        {{ #render.partial }}lab4/paywall/{{ provider }}{{ /render.partial }}
                    {{ /getConfig.paywall.article.blurAllContent }}
                {{ /displaySalesPosters }}
            {{ /access }}
        {{ /active }}
    {{ /get.current.filtered.paywall }}
    {{ #render.partial }}insideBodytextBelowPaywallPoster{{ /render.partial }}
</div>
