<div class="lab-fullscreen-collection lab-fullheight lab-grid-column">

    <div class="lab-grid lab-row">
        <div class="lab-grid-large-2 lab-grid-small-12 lab-info lab-align-right">Title</div>
        <h3 class="lab-title lab-grid-large-10 lab-grid-small-12 fullscreen-tt">{{{ get.current.fields.title }}}</h3>
    </div>

    <div class="lab-grid lab-row">
        <div class="lab-grid-large-2 lab-grid-small-12 lab-info lab-align-right">Subtitle</div>
        <h3 class="lab-title lab-grid-large-10 lab-grid-small-12 fullscreen-sub">{{{ get.current.fields.subtitle }}}</h3>
    </div>
    
    <div class="lab-grid lab-grid-column-stretch lab-row">
        <div class="lab-grid-large-2 lab-grid-small-12 lab-info lab-align-right">Bodytext</div>
        <div class="lab-grid-large-10 lab-grid-small-12 fullscreen-btx bodytext">{{{ get.current.fields.bodytext }}}</div>
    </div>

</div>