<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc omni virtuti vitium contrario nomine opponitur.
    Vitiosum est enim in dividendo partem in genere numerare. Non igitur potestis voluptate omnia dirigentes aut tueri
    aut retinere virtutem. Duo Reges: constructio interrete. Isto modo, ne si avia quidem eius nata non esset. Quacumque
    enim ingredimur, in aliqua historia vestigium ponimus.</p>
<p>Contemnit enim disserendi elegantiam, confuse loquitur. Sin tantum modo ad indicia veteris memoriae cognoscenda,
    curiosorum. Qualis ista philosophia est, quae non interitum afferat pravitatis, sed sit contenta mediocritate
    vitiorum? Quis est tam dissimile homini. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant.
    Moriatur, inquit. Conferam tecum, quam cuique verso rem subicias;</p>
<h3>Contineo me ab exemplis</h3>
<p>Verba tu fingas et ea dicas, quae non sentias? Et nemo nimium beatus est; Tecum optime, deinde etiam cum mediocri
    amico. Est enim effectrix multarum et magnarum voluptatum. Tum ille timide vel potius verecunde: Facio, inquit.</p>
<ul>
    <li>Theophrastum tamen adhibeamus ad pleraque, dum modo plus in virtute teneamus, quam ille tenuit, firmitatis et
        roboris.</li>
    <li>Sed emolumenta communia esse dicuntur, recte autem facta et peccata non habentur communia.</li>
</ul>
<h3>Si qua in iis corrigere voluit, deteriora fecit</h3>
<p>Non modo carum sibi quemque, verum etiam vehementer carum esse? Ego vero volo in virtute vim esse quam maximam; Ita
    ne hoc quidem modo paria peccata sunt. Traditur, inquit, ab Epicuro ratio neglegendi doloris. Illa argumenta propria
    videamus, cur omnia sint paria peccata. Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Sin
    laboramus, quis est, qui alienae modum statuat industriae? Itaque contra est, ac dicitis; Quid ad utilitatem tantae
    pecuniae?</p>
<ol>
    <li>Et quidem illud ipsum non nimium probo et tantum patior, philosophum loqui de cupiditatibus finiendis.</li>
    <li>Quodsi, ne quo incommodo afficiare, non relinques amicum, tamen, ne sine fructu alligatus sis, ut moriatur
        optabis.</li>
    <li>Ut enim consuetudo loquitur, id solum dicitur honestum, quod est populari fama gloriosum.</li>
</ol>