<p><strong>This function in Labrador CMS is using AI-model {{ aiSettings.model }} from {{ aiSettings.provider }} by {{ aiSettings.integration }}</strong></p>
<p>Text from the article is not used to train or improve the public data models. Use generated text from these functions as suggestions, and be sure to manually verify them. Labrador CMS shall not be held liable for any use of the generated text.</p>