<footer class="main-footer" itemtype="https://schema.org/Organization" itemscope role="contentinfo">
  <div class="row">
        <div class="">
            <dl>
                <dt>Postadresse:</dt>
                <dd itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><span itemprop="postOfficeBoxNumber">Boks 1184</span> Sentrum, <span itemprop="postalCode">0107</span> <span itemprop="addressLocality">Oslo</span></dd>
                <dt>Besøksadresse:</dt>
                <dd itemprop="location" itemscope itemtype="https://schema.org/PostalAddress"><a href="https://goo.gl/maps/EmpIH"><span itemprop="streetAddress">Karvesvingen 1</span>, <span itemprop="postalCode">0579</span> <span itemprop="addressLocality">Oslo</span></a></dd>
            </dl>
        </div>
        <div class="">
            <ul>
                <li><a href="https://rss.kode24.no/">RSS</a></li>
                <li><a href="https://www.kode24.no/kodenytt/endelig-har-utviklere-fatt-egen-nettavis/70206194">Om kode24</a></li>
                <li><a href="https://www.kode24.no/annonse/priser-pa-stillingsannonser-og-content/70244826" class="text-yellow">Annonsepriser</a></li>
                <li><a href="https://scandinaviaonline.mailmojo.no/forms/subscribe/26775/" class="text-yellow">Nyhetsbrev (ukentlig)</a></li>
                <li></li>
                <li><a href="https://personvern.aller.no/personvern">Personvern info</a></li>
                <li><a href="mailto:hei@kode24.no">Teknisk feil på nettsiden?</a></li>
                <li><button id="ad-settings">Dine annonsevalg</button></li>
            </ul>
        </div>
        <div class="">
                <div itemscope itemtype="https://schema.org/Person">
                    <div><span itemprop="jobTitle"><strong>Ansvarlig redaktør</strong></span>: <br /><a href="mailto:hilde.schjerve@sol.no" itemprop="email"><span itemprop="name">Hilde Schjerve</span></a></div>
                    <div><span itemprop="jobTitle"><strong>Redaktør</strong></span>: <br /><a href="mailto:ole@kode24.no" itemprop="email"><span itemprop="name">Ole Petter Baugerød Stokke</span></a></div>
                </div>
                <div itemtype="https://schema.org/Organization" itemscope><br><br>Utgitt av <a href="//allerx.no"><span itemprop="name">Aller X</span></a> - et selskap i Aller Media</div>
                <br>
                <div><span itemprop="name">Powered by Labrador CMS</span></div>
        </div>
        <div class="">
            <p>
                Vi arbeider etter Vær varsom-plakatens regler for god presseskikk. Den som mener seg rammet av urettmessig publisering, oppfordres til å ta kontakt med redaksjonen. Du kan også klage inn saker til Pressens Faglige Utvalg for behandling og vurdering - se <a href="http://www.pfu.no">www.pfu.no</a>.
            </p>
            <p class="footer-logo__pfu">
                <img src="/kode24-pfu-logo.png" alt="Norsk Presseforbund">
            </p>
        </div>

        <div class="clearfix"></div>
    <div>
</footer>
