<script>
  /**
* Handles clicks on the light switch toggle button
* on the top right of the page
*/

  (function handleLightSwitchToggle() {

    let theme = localStorage.getItem('theme');
    setMode(theme);

    if (document.readyState !== 'loading') {
      listenToLightButtons();
    } else {
      document.addEventListener('DOMContentLoaded', listenToLightButtons);
    }




    function listenToLightButtons() {
      let lightButton = document.getElementById(
        'light-switch-toggler-icon-left'
      );
      let darkButton = document.getElementById(
        'light-switch-toggler-icon-right'
      );
      lightButton.onclick = () => setMode('light', true);
      darkButton.onclick = () => setMode('dark', true);
    }

    function setMode(modeString, updateCookie) {

      let HTMLElement = document.documentElement;

      if (modeString === 'light') {
        HTMLElement?.classList.add('light');
        HTMLElement?.classList.remove('dark');
      } else if (modeString === 'dark') {
        HTMLElement?.classList.remove('light');
        HTMLElement?.classList.add('dark');
      } else {
        HTMLElement?.classList.remove('light', 'dark');
      }

      if (updateCookie) {
        localStorage.setItem('theme', modeString);
        //Cookies.set('theme', modeString, { expires: 3600, path: '' });
      }
    }
  })();
</script>