
<!-- required to highlight code in articles -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
<link rel="stylesheet" href="/view-resources/kode24/view/css/site/kode24.css">
<link rel="stylesheet" href="/view-resources/kode24/view/kode24-legacy/assets/index.css?v44">
<script src="/view-resources/kode24/view/kode24-legacy/assets/front.js?v44" defer></script>


<!-- legacy Aller Media scripts that should be refactored -->
<script defer src="//am.medialaben.no/scripts/a11y.min.js"></script>
<script src="//am.medialaben.no/scripts/app.min.js"></script>
<link id="am-styles" rel="stylesheet" href="//am.medialaben.no/stylesheets/app.min.css" />
<!-- Logging towards Kilkaya MBL -->
<script type="module" src="https://log.medietall.no/analytics.v2.js"></script>
<script defer src="https://log.medietall.no/analytics.v2.legacy.js" nomodule></script>
<!-- kilkaya -->
<script type="text/javascript" src="//cl-eu2.k5a.io/61828d9316dbc70bd27919a2.js" async></script>
<!-- Plausible click tracking -->





<script defer data-domain="kode24.no" src="https://plausible.io/js/script.outbound-links.js"></script>
