<figure itemprop="image" itemscope itemtype="https://schema.org/ImageObject" {{#fields.lightbox}}data-image-lightbox{{/fields.lightbox}}>
	<img itemprop="contentUrl url" title="{{fields.imageCaption}}" alt="{{fields.imageCaption}}" src="{{filtered.image}}" class="{{filtered.imgClasses}}" {{#filtered.imageLoadingClass}}style="height:{{filtered.imageLoadingHeight}}px;"{{/filtered.imageLoadingClass}}>
    <div class="overlay {{filtered.gradient}}" style="{{filtered.rgba}}"></div>
    {{#filtered.editMode}}
        <figcaption class="caption active" itemprop="caption" data-expand onclick="this.classList.add('active')">{{ & fields.imageCaption }}</figcaption>
    {{/filtered.editMode}}
    {{^filtered.editMode}}
        {{#filtered.imageCaption}}
			<figcaption class="caption" itemprop="caption" data-expand onclick="this.classList.add('active')">
				{{ & filtered.imageCaption }}
				<a class="toggle">Vis mer</a>
				<meta itemprop="representativeOfPage" content="true">
				<meta itemprop="width" content="{{filtered.width}}">
				<meta itemprop="height" content="{{filtered.height}}">
			</figcaption>
        {{/filtered.imageCaption}}
    {{/filtered.editMode}}
 </figure>
