<form class="lab-menu-pre-gui" id="lab-contentbox-search" type="POST" action="">
    <label for="lab-contentbox-search-field">Filter</label>
    <input type="text" autocomplete="off" placeholder="Search contentboxes" name="lab-contentbox-search-field" id="lab-contentbox-search-field" />
</form>