<form>

    <fieldset>
        <label>Page title</label><input type="text" name="fields.title" value="{{fields.title}}" placeholder="Click to add title" />
    </fieldset>  
 
    <div class="lab-menu-controls">
        <button type="submit">Save</button>        
    </div>

</form>
