<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    column chart 
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
    {{ /helper.trim }}">
    <h3 class="headline {{ #style.collection }}text_decoration fields.title{{ /style.collection }}">{{{ get.current.fields.title }}}</h3>
    
    <div class="chart-container">
        {{ #get.current.filtered.chartData_json }}
        <canvas id="chart-{{ get.current.guid }}"></canvas>
        {{ /get.current.filtered.chartData_json }}
    </div>
    
    {{ #get.current.filtered.chartData_json }}
    <script>
    new Chart(document.getElementById('chart-{{ get.current.guid }}'), {
        type: '{{ get.current.filtered.chartType }}',
        data: {{{ get.current.filtered.chartData_json }}},
        options: {
            resizeDelay: 1000,
            aspectRatio: 1,
            scales: {
                y: {
                beginAtZero: {{ #get.current.filtered.beginAtZero }}true{{ /get.current.filtered.beginAtZero }}{{ ^get.current.filtered.beginAtZero }}false{{ /get.current.filtered.beginAtZero }},
                }
            }
        }
    });
    </script>
    {{ /get.current.filtered.chartData_json }}
    <p class="description {{ #style.collection }}text_decoration fields.description{{ /style.collection }}">{{ get.current.fields.description }}</p>
</div>
