<form method="post">
    <h2 class="lab-title lab-space-below-medium">Chart data</h2>
    <p>Paste tabular data. Use tab as column-separator and line shift as row-separator (TSV). First line is labels and first row is dataset labels</p>
    <div>
        <div class="lab-formgroup lab-grid lab-grid-gap ">
            <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap">
                <h3>TSV</h3>
                <textarea name="fields.tableData" rows="30" style="height: 260px;"onkeydown="if(event.keyCode===9){var v=this.value,s=this.selectionStart,e=this.selectionEnd;this.value=v.substring(0, s)+'\t'+v.substring(e);this.selectionStart=this.selectionEnd=s+1;return false;}">{{ get.current.fields.tableData }}</textarea>
            </div>
        </div>
    </div>
</form>
