<figure data-element-guid="{{ get.current.guid }}" class="hello3 ">
    <picture>
        <img
            itemprop="image"
            src="{{{ get.current.filtered.image }}}"
            width="{{{ get.current.filtered.viewport_list.mobile.width }}}"
            height="{{{ get.current.filtered.viewport_list.mobile.height }}}"
            alt="{{ get.parent.fields.firstname }} {{ get.parent.fields.lastname }}">
    </picture>
</figure>