<div class="lab-empty-placeholder lab-aspect-ratio-medium lab-content">
    <div class="lab-inner">
        <span class="lab-icon-large labicon-images"></span>
        <p>
            <span class="addImageBtn lab-btn lab-small">Display images (M)</span>
        </p>
    </div>
</div>