<div>
    <form method="post">
        <h2 class="lab-title lab-space-below-medium">Infinite scroll - Settings</h2>
            <div class="lab-formgroup lab-grid lab-grid-gap lab-valign-top">
                <div class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="infiniteSource">Source</label>
                    <select id="infiniteSource" name="fields.infiniteSource" onchange="updateSettings()">
                        {{ #get.current.filtered.sourceOptions }}
                            <option value="{{ value }}"{{ #selected }} selected{{ /selected }}>{{ label }}</option>
                        {{ /get.current.filtered.sourceOptions }}
                    </select>
                </div>
                <div id="feeds" {{ ^get.current.filtered.displayFeeds}}style="visibility: hidden;"{{ /get.current.filtered.displayFeeds }} class="lab-formgroup-item lab-grid-large-6 lab-grid-gap">
                    <label for="infiniteFeed">Feed</label>
                    <select id="infiniteFeed" name="fields.infiniteFeed">
                        {{ #get.current.filtered.feedOptions }}
                            <option value="{{ value }}"{{ #selected }} selected{{ /selected }}>{{ label }}</option>
                        {{ /get.current.filtered.feedOptions }}
                    </select>
                </div>
            </div>
    </form>
    <script>
        function updateSettings() {
            const sources = document.getElementById('infiniteSource');
            const selectedSource = sources.options[sources.selectedIndex].value;
            const feeds = document.getElementById('feeds');
            if (selectedSource === 'feed') {
                feeds.setAttribute('style', 'visibility: visible;');
            } else {
                feeds.setAttribute('style', 'visibility: hidden;');
            }
        }
    </script>
</div>
