@use "./vars" as *;

// Default layout for menus drawn by template 'view/partial/menu.template.mustache'
// topBarMenu, mainMenu, dropdownMenu, bottomBarMenu

.topBarMenu,
.dropdownMenu,
.mainMenu,
.bottomBarMenu,
.customMenu1,
.customMenu2,
.customMenu3,
.customMenu4 {
    width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        ul {
            flex-direction: column;
        }
        li {
            list-style-type: none;
            display: inline-block;
            padding: 0 $columns_gutter;
        }
    }
    &.toggleChildren {
        li.has-children {
            padding-inline: $columns_gutter !important;
            > a, > span {
                cursor: pointer;
                display: flex !important;
                justify-content: space-between;
                align-items: center;
            }
            span.carat {
                width: 1em;
                height: 1em;
                display: inline-block !important;
                position: relative;
                &:before, &:after {
                    transition: 0.25s;
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: currentColor;
                    top: 50%;
                    left: 0;
                    transform-origin: 50% 50%;
                    border-radius: 50%;
                }
                &:after {
                    transition: 0.25s;
                    transform: rotate(90deg);
                }
            }
            ul.children {
                padding-inline: $columns_gutter;
                display: none !important;
            }
            &.expanded {
                span.carat {
                    &:before {
                        transform: rotate(180deg);
                    }
                    &:after {
                        transform: rotate(180deg);
                    }
                }
                ul.children {
                    display: block !important;
                }
            }
        }
    }

    @include desktop_down {
        ul {
            flex-direction: column;
        }
    }
}