@use "./vars" as *;

// Default layout for menus drawn by template 'view/partial/menu.template.mustache'
// topBarMenu, mainMenu, dropdownMenu, bottomBarMenu

.topBarMenu,
.dropdownMenu,
.mainMenu,
.bottomBarMenu,
.customMenu1,
.customMenu2,
.customMenu3,
.customMenu4 {
    width: 100%;

    &.scrollable-menu {
        width: 100% !important;
        display: flex;
        position: relative;

        .menu-list {
            overflow: auto;
            scrollbar-width: none;
            -ms-overflow-style: none;
            padding-inline: 2rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }    

        .menu-scroll {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            padding: 0.25rem 0.5rem;
            border: 1px solid black;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
            cursor: pointer;

            &--left  { 
				left: 0; 
			}

            &--right { 
				right: 0; 
			}

            &.is-disabled {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        ul {
            flex-direction: column;
        }

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0 $columns_gutter;
        }
    }

    .lab-menu-name {
        padding-inline: 0.7rem;
        font-size: 1.2rem;
        color: #222;
    }

    &.toggleChildren {
        li.has-children {
            padding-inline: $columns_gutter !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            > a, 
            > span {
                cursor: pointer;
                display: flex !important;
                justify-content: space-between;
                align-items: center;
            }

            span.carat {
                width: 1em;
                height: 1em;
                display: inline-block !important;
                position: relative;

                &:before, 
                &:after {
                    transition: 0.25s;
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    background-color: currentColor;
                    top: 50%;
                    left: 0;
                    transform-origin: 50% 50%;
                    border-radius: 50%;
                }

                &:after {
                    transition: 0.25s;
                    transform: rotate(90deg);
                }
            }

            ul.children {
                padding-inline: $columns_gutter;
                display: none !important;
            }

            &.expanded {
                span.carat {
                    &:before {
                        transform: rotate(180deg);
                    }

                    &:after {
                        transform: rotate(180deg);
                    }
                }

                ul.children {
                    display: block !important;
                    flex-basis: 100%;
                }
            }
        }
    }

    @include desktop_down {
        ul {
            flex-direction: column;
        }
    }
}
