@use "./vars" as *;

@include desktop {
    .desktop-movable-container {
        min-height: 20px;
        position: relative;
        z-index: 10;
        &.desktop-movable-element,
        .desktop-movable-element {
            position: relative;
            // position: absolute;
            z-index: 100;
        }
        &.desktop-collapsed-element,
        .desktop-collapsed-element {
            height: 20px;
        }
    }
}

@include desktop_down {
    .mobile-movable-container {
        min-height: 20px;
        position: relative;
        z-index: 10;
        .mobile-movable-element {
            position: relative;
            // position: absolute;
            z-index: 100;
        }
        .mobile-collapsed-element {
            height: 20px;
        }
    }
}
