/* Style for contentbox changelog */

.changelog {
    .content {
        padding-bottom: 1rem !important;
    }
    details {
        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1em;
            font-weight: bold;
            cursor: pointer;
            &::after {
                content: "";
                display: inline-block;
                border-left: 2px solid currentColor;
                border-top: 2px solid currentColor;
                width: 0.5em;
                height: 0.5em;
                margin-right: 0.1em;
                transition: 0.3s;
                transform: rotate(-135deg);
            }
        }
        &[open] summary::after {
            transform: rotate(45deg);
        }
        ul {
            padding-top: 1.5em;
            display: grid;
            gap: 1.5em;
        }
        li {
            display: grid;
            grid-template-columns: minmax(10ch, 1fr) 2fr;
            p:not(:last-child) {
                margin-bottom: 0.5em;
            }
        }
    }
}