<mm:snippet>
    <table {{ #get.current.metadata.sectionId }} id="{{ get.current.metadata.sectionId }}"{{ /get.current.metadata.sectionId }} width="100%" cellspacing="0" cellpadding="0" style="border: 0;">
      <tr>
        <td class="grid-container padding-top padding-bottom" align="center" valign="middle" style="padding-top: 10px; padding-bottom: 10px;">
          <table width="640" cellspacing="0" cellpadding="0" style="border: 0;">
            <tr>
                {{{ children.all }}}
            </tr>
          </table>
        </td>
      </tr>
    </table>
</mm:snippet>
