<div>
    <div class="lab-formgroup lab-grid lab-grid-gap ">
        <div class="lab-formgroup-item lab-grid-large-12 lab-grid-gap some-custom-css-class and-another-class">
            <label for="metadata-notes">Notes</label>
            <textarea name="metadata.notes" id="metadata-notes" placeholder="Edit notes here ..." style="min-height: 150px;">{{{ get.current.metadata.notes }}}</textarea>
        </div>
    </div>
</div>
