<div class="lab-formgroup lab-grid ">
    <h3 class="lab-title lab-grid-large-12">Publish Date</h3>
    <p class="lab-para lab-grid-large-12">The row will not be visible before this date and time is reached.</p>
    <div class="lab-formgroup-item lab-grid-large-12">
        <label for="baseview-visibleAfterDate">Date and time</label>
        <input type="datetime-local" id="baseview-visibleAfterDate" name="metadata.visibleAfterDate" value="{{{ get.current.filtered.visibleAfterDate }}}">
    </div>
</div>