{{ ^get.current.filtered.hideKicker }}<p class="kicker {{ #style.collection }}text_decoration fields.kicker{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.kicker{{ /style.collection }}">{{{ get.current.fields.kicker }}}</p>{{ /get.current.filtered.hideKicker }}