<h1 class="headline mainTitle {{ #style.collection }}text_decoration fields.title{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.title{{ /style.collection }}"{{ #get.current.fields.title[animate] }} data-content="{{ #helper.sanitizeString }}{{{ get.current.fields.title }}}{{ /helper.sanitizeString }}"{{ /get.current.fields.title[animate] }}>{{{ get.current.fields.title }}}</h1>