<form class="">
    <label for="new-comment" class="">Add a comment to article</label>
    <textarea class="new-comment-textarea" rows="10" id="new-comment" placeholder="Start typing..."></textarea>
    <div class="comment-btn-container">
        <button class="comment-btn-cancel lab-btn lab-small" id="cancel-comment">Cancel</button>
        <button class="comment-btn-new lab-btn lab-small lab-selected" id="add-comment">Add Comment</button>
    </div>
</form>
