<form class="lab-grid lab-valign-center">
    <div class="site-container lab-grid-large-5 lab-grid-gap"></div>
    <input type="text" placeholder="Tag (optional)" name="tag" autocomplete="off" class="lab-grid-large-5 lab-grid-gap" />
    <a href="#" title="Display more options" class="lab-btn labicon-settings lab-grid-large-2 lab-grid-gap"></a>
    <div class="expanded lab-hidden lab-grid-large-12 lab-grid lab-valign-center">
        <input type="text" placeholder="ID (optional)" name="id" autocomplete="off" class="lab-grid-large-5 lab-grid-gap" />
        <input type="text" placeholder="Text (optional)" name="text" autocomplete="off" class="lab-grid-large-5 lab-grid-gap" />
        <div class="size-container lab-grid-large-5 lab-grid-gap" style="padding-top: 0.3rem;"></div>
        <div class="article_list_only_mine-container lab-grid-large-5 lab-grid-gap"></div>
    </div>
    <span class="lab-btn labicon-pluss_slim lab-grid-large-10 lab-grid-gap lab-space-above-small newNoticeBtn"> Create new Notice</span>
</form>
