<div class="meta text-center">
    {{# filtered.labels }}
        <span class="label {{ class }}">{{ text }}</span>
    {{/ filtered.labels }}
    <time itemprop="datePublished" datetime="{{ filtered.datePublished.iso }}" class="published" title="Publisert {{ filtered.datePublished.human }}" data-from-now> {{ filtered.datePublished.human }}</time>
</div>
