@mixin setPaywallTeaserBackgroundGradient ($color: #fff) {
    .teaserContent:before {
        content: "";
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba($color, 1) 0%, rgba($color, 0) 60%, rgba($color, 0) 100%);
    }
}

@mixin label {
    position: absolute;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 0.3rem 0.5rem;
    bottom: 0.5rem;
    right: 0.4rem;
    box-shadow: 0 0 4px -1px #000;
    border-radius: 0.2rem;
    z-index: 1;

    &.belowMedia {
        position: initial;
        width: fit-content;
        display: inline-block;
        box-shadow: none;
        border: 1px solid #000;

        &.no-image {
            margin: initial;
            float: initial;
        }
    }

    &:empty {
        display: none;
    }

    &.no-image {
        position: relative;
        float: right;
        right: 0;
        bottom: auto;
        margin: 0.7rem;
    }

    &.floatLeft {
        left: 0.4rem;
        right: auto;
        top: 0.4rem;
        bottom: auto;
    }

    &.floatRight {
        top: 0.4rem;
        bottom: auto;
    }

    &.bottomRight:not(.no-image) {
        bottom: 0.5rem;
        right: 1rem;
        top: auto;
        left: auto;
    }

    &.topRight:not(.no-image) {
        top: 0.5rem;
        right: 1rem;
        bottom: auto;
        left: auto;
    }

    &.topLeft:not(.no-image) {
        top: 0.5rem;
        left: 1rem;
        bottom: auto;
        right: auto;
    }

    &.bottomLeft:not(.no-image) {
        bottom: 0.5rem;
        left: 1rem;
        top: auto;
        right: auto;
    }
}
