.google-ad {
    > * {
        max-width: 100% !important;
    }
    iframe {
        max-width: 100% !important;
        margin: 0 auto;
        display: block;
    }
}
.placement-left,
.placement-right {
    .google-ad iframe, .google-ad > * {
        max-width: unset !important;
    }
}

.bodytext .column.google-ad.fullWidth {
    width: 100%;
}
.bodytext .column.google-ad.widthAuto {
    width: auto;
}

.column.google-ad.display-label {
    &:has(.adunit:empty) {
        margin-bottom: 0;
    }
    .adunit:empty {
        margin-top: 0;
    }
}

.bodytext > .column.google-ad,
.row > .column.google-ad {
    &.display-label{
        .ad-label {
            margin-top: 0;
        }
    }
}

.placement-left,
.placement-right {
    .column.google-ad {
        &.display-label {
            .adunit {
                margin-top: 0;
            }
        }
    }
}

.column.google-ad {
    padding-top: 0;

    .adunit {
        width: fit-content;
        margin: 0 auto;
    }

    .ad-label {
        display: none;
    }

    &.display-label { 
        margin-bottom: .8rem;
        padding-bottom: 0;

        &:has(.adunit > div:empty),
        &:has(.adunit:empty) {
            .ad-label {
                display: none;
            }
        }

        &:has(.adunit[style="display: none;"]) {
            .ad-label {
                display: none;
            }
        }

        &:has(.ad-label) {
            .adunit {
                &::before {
                    content: none;
                }
            }
        }

        .ad-label {
            display: block;
            font-size: 12px;
            color: gray;
            text-transform: uppercase;
            overflow: hidden;
            margin-top: -20px;
            position: absolute;
        }
    }

    &.display-label .adunit {
        margin-top: 20px;
        &:before {
            content: "ANNONSE";
            display: block;
            font-size: 12px;
            color: gray;
            position: absolute;
            top: 0;
        }
    }

    &.sticky_banner {
        width: 100%;
        position: fixed;
        text-align: center;
        left: 0;
        z-index: 1000;
        background-color: transparent;
        display: block;
        justify-content: center;
        bottom: 0px;
        top: auto;
        background-color: hsla(0,0%,100%,.8);
        padding: 15px 0 15px 0;
        margin: 0;
        box-shadow: 0 0 5px 0 rgba(0,0,0,0.2)!important;
    }
}

.adZone-top
.placement-top { 
    .column.google-ad.display-label .adunit:before {
        top: -18px;
    }
}

div.placeholder.placement-bgTop_150:has(.row-section .row .google-ad.sticky),
div.placeholder.placement-bgTop_300:has(.row-section .row .google-ad.sticky),
div.placeholder.placement-top:has(.row-section .row .google-ad.sticky),
div.placeholder.placement-top:has(> div.google-ad.sticky),
div.placeholder.placement-bgTop_150:has(> div.google-ad.sticky),
div.placeholder.placement-bgTop_300:has(> div.google-ad.sticky) { 
    position: sticky;
    display: block;
    top: calc(var(--space-top, 0) * 1px);
}

div.placeholder.placement-top:has(.row-section .row .google-ad.sticky),
div.placeholder.placement-top:has(> div.google-ad.sticky) { 
    z-index: 20;
}

.google-ad.sticky {
    position: sticky;
}

.adZone-left, .adZone-right,
.placement-left, .placement-right {
    .column.google-ad {
        padding: 0;

        &.display-label .adunit:before {
            top: -20px;
        }
    }
}

.bodytext {
    .column.google-ad {
        &.display-label {
            &.floatRight {
                .adunit:before {
                    right: 10px;
                }
            }
        }

        &.widthFull {
            width: 100%;
            display: block;
            clear: both;

            &:has(> .adunit > div:empty) {
                display: none;
            }
        }
    }
}

body.l4 .placement-top .column.google-ad.display-label .adunit:before {
    top: -20px;
}

.placement-overlay {
    position: initial;
    margin: 0;

    .google-ad {
        position: initial;
    }
}

// Holid ads styling
.column.google-ad {
    .adunit.holidAds { 
        width: unset !important;
        text-align: center;
    }

    &.display-label {
        &:has(.adunit.holidAds > div:empty) {
            margin: 0;
        }
        
        .adunit.holidAds:has(div:empty) {
            margin: 0;
        }
        
        &:has(.adunit.holidAds > div:empty), &:has(.adunit.holidAds > div > div:empty) {
            .ad-label {
                display: none;
            }
        }
    }
}
.placement-left .google-ad:has(.adunit.holidAds) ,
.placement-right .google-ad:has(.adunit.holidAds){
    width: 300px;
}

body.l4 .column.google-ad.adZone-parallax {
    left: calc(-1*((100vw - var(--lab-scrollbar-width)) - var(--lab_page_width, 68rem)) / 2);

    .adunit {
        width: calc(100vw - var(--lab-scrollbar-width));
    
        & > div {
            height: 100vh;
            width: 100vw;
            clip-path: inset(0);
        }
    
        iframe {
            position: fixed;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }

    @include desktop_down {
        left: -.65rem;
    }
}

body.l4 .column.google-ad.adZone-parallax {
    left: 0;
    padding: 0;

    .ad-label {
        padding-left: var(--columns-gutter);
    }
}
body.article.l4 .column.google-ad.adZone-parallax {
    @include desktop {
        left: calc(-1*((100vw - var(--lab-scrollbar-width)) - var(--page-width, 68rem)) / 2);
    }
}
