<div class="grid_element
{{ #style.collection }}box_decoration{{ /style.collection }}
{{ #style.collection }}box_fullWidth{{ /style.collection }}
{{ #get.current.fields.noSpace }} column no-space{{ /get.current.fields.noSpace }}
{{ size.grid.css }}
{{ size.grid.absCss }}">
    <div class="content fullwidthTarget {{ #style.collection }}content_decoration{{ /style.collection }}{{ #get.current.metadata.image_gradient_direction }} image-gradient-{{ get.current.metadata.image_gradient_direction }}{{ /get.current.metadata.image_gradient_direction }}">
        {{{ children.all }}}   
    </div>
    {{ #get.current.metadata.showCaption }}<p class="caption column {{ #style.collection }}text_decoration fields.caption{{ /style.collection }}">{{ get.current.fields.caption }}</p>{{ /get.current.metadata.showCaption }}
</div>