<form>
    <h2 class="lab-title lab-space-below-medium">Grid - Settings</h2>
    <div>
        <div class="lab-formgroup lab-grid lab-grid-gap lab-space-below-none">
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-small-12 lab-grid-gap">
                <label for="id-fields.columnCount">Columns</label>
                <input type="number" min="1" max="6" name="fields.columnCount" id="id-fields.columnCount" value="{{ get.current.filtered.size.columns }}" placeholder="Default value used">
            </div>
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-small-12 lab-grid-gap">
                <label for="id-fields.rowCount">Rows</label>
                <input type="number" min="1" max="12" name="fields.rowCount" id="id-fields.rowCount" value="{{ get.current.filtered.size.rows }}" placeholder="Default value used">
            </div>
            <div class="lab-formgroup-item lab-grid-large-4 lab-grid-small-12 lab-grid-gap">
                <label for="id-fields.columnCountMobile">Columns - Mobile</label>
                <input type="number" min="1" max="4" name="fields.columnCountMobile" id="id-fields.columnCountMobile" value="{{ get.current.filtered.size.columnsMobile }}" placeholder="Default value used">
            </div>
            <div class="lab-formgroup-item lab-grid-large-12 lab-grid-small-12 lab-grid-gap lab-inline">
                <label for="id-fields.noSpace">Remove spacing</label>
                <input type="checkbox" name="fields.noSpace" id="id-fields.noSpace" value="1" {{ #get.current.fields.noSpace }}checked{{ /get.current.fields.noSpace}}>
            </div>
        </div>
    </div>
</form>
