<div class="meta">
    {{# filtered.labels }}
        <span class="label {{ class }}">{{ text }}</span>
    {{/ filtered.labels }}
    {{#filtered.menuFourfourtwo}}<img src="//www.dagbladet.no/inc3/vignetter/fourfourtwo/img/fft-300.png" style="width: 80px; height: auto;" />{{/filtered.menuFourfourtwo}}
    <time itemprop="datePublished" datetime="{{ filtered.datePublished.iso }}" class="published" title="Publisert {{ filtered.datePublished.human }}" {{^filtered.disableDataFromNow}}data-from-now{{/filtered.disableDataFromNow}}> {{ filtered.datePublished.human }}</time>
    <meta itemprop="dateModified" content="{{filtered.dateModified}}">

	{{#filtered.retroaktiv}}
		<div class="add_article_button_wrapper">
			<span class="addArticleButton" articleId="{{filtered.articleId}}">
                <span class="add_article_button_text">Les senere</span>
                <div class="add_article_icon_status_wrapper">
                    <div class="add_article_icon_status"></div>
                </div>
            </span>
            <div class="add_article_button_error"></div>
		</div>
	{{/filtered.retroaktiv}}
</div>
