<div class="{{ #helper.trim }}
    slideshowcontainer {{ ^get.root.filtered.is_gallery }}{{ #get.current.fields.gallery_active }}gallery-mode{{ /get.current.fields.gallery_active }}{{ /get.root.filtered.is_gallery }}
    fullwidthTarget
    {{ #get.current.fields.hideCaptions }}hideCaptions{{ /get.current.fields.hideCaptions }}
    {{ #get.current.fields.hideBylines }}hideBylines{{ /get.current.fields.hideBylines }}
    {{ #get.current.fields.containImages }}contain{{ /get.current.fields.containImages }}
    {{ #get.current.fields.containerBg }}background-{{ get.current.fields.containerBg }}{{ /get.current.fields.containerBg }}
    {{ /helper.trim }}" id="slideshow-{{ get.current.id }}">
    <style>
        #slideshow-{{ get.current.id }} .scroll-container figure::before {
            content: '';
            display: block;
            width: 100%;
            padding-top: {{ get.current.filtered.aspectRatio }}%;
        }
    </style>
    {{ #selector.sticky-gallery-ad }}
    <div class="sticky-gallery-ad">
        {{{ selector.sticky-gallery-ad }}}
    </div>
    {{ /selector.sticky-gallery-ad }}
    <div class="scroll-container swipehelper snap-container-x snap-element-start">
        {{ #get.current.filtered.imageList }}
            <div class="scroll-item snap-element slideshow-image">
            {{ #get.current.fields.gallery_active }}<a href="/gallery/{{ get.root.id }}/{{ get.current.id }}?photo={{ index }}">{{ /get.current.fields.gallery_active }}
            {{{ markup }}}
            {{ #get.current.fields.gallery_active }}</a>{{ /get.current.fields.gallery_active }}
            </div>
        {{ /get.current.filtered.imageList }}
    </div>
    <nav>
        <span class="arrow left">
            <span></span>
        </span>
        <span class="arrow right">
            <span></span>
        </span>
        {{ #get.current.metadata.displayNavigation }}<ul>{{ #children.image[] }}<li></li>{{ /children.image[] }}</ul>{{ /get.current.metadata.displayNavigation }}
        {{ #get.current.metadata.displayPreview }}<div class="slideshow-preview">
            {{ #get.current.fields.gallery_active }}{{ #get.current.filtered.hasText}}
            <div class="slideshow-text">{{ #get.current.fields.gallery_display_title }}<h2 class="headline {{ #style.collection }}text_decoration fields.title{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.title{{ /style.collection }}">{{ get.current.fields.title }}</h2>{{ /get.current.fields.gallery_display_title }}{{ #get.current.fields.gallery_display_description }}<p class="subtitle {{ #style.collection }}text_decoration fields.description{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.description{{ /style.collection }}">{{ get.current.fields.description }}</p>{{ /get.current.fields.gallery_display_description }}</div>
            {{ /get.current.filtered.hasText}}{{ /get.current.fields.gallery_active }}
            <div class="slideshow-images">
            {{ #get.current.filtered.imageList }}{{ #isImage }}
            {{ #get.current.fields.gallery_active }}<a href="/gallery/{{ get.root.id }}/{{ get.current.id }}?photo={{ index }}">{{ /get.current.fields.gallery_active }}
            <figure>
                <div class="img">
                    <img src="{{ url }}&width=280">
                </div>
            </figure>
            {{ #get.current.fields.gallery_active }}</a>{{ /get.current.fields.gallery_active }}
            {{ /isImage }}{{ /get.current.filtered.imageList }}
            {{ #get.current.fields.gallery_active }}<a href="/gallery/{{ get.root.id }}/{{ get.current.id }}" class="gallery-link fi-arrow-up"></a>{{ /get.current.fields.gallery_active }}
            </div>
        </div>{{ /get.current.metadata.displayPreview }}
    </nav>
{{ #get.current.id }}
<script>
(function () {
    window.dachserData.push('swipehelper', {
        selector: '#slideshow-{{ get.current.id }}',
        navItemsSelector: 'nav ul',
        previewItemsSelector: 'nav div.slideshow-images',
        itemsContainerSelector: '.scroll-container',
        itemsSelector: '.scroll-item',
        noIndexItemsSelector: '.scroll-item:has(.placeholder_ad)',
        isHorizontal: true,
        navItems: {
            forwardSelector: 'nav .arrow.right',
            backwardSelector: 'nav .arrow.left',
            dotNavigationSelector: 'nav ul'
        },
        preloadNextImage: {{ #app.isEditor }}false{{ /app.isEditor }}{{ ^app.isEditor }}true{{ /app.isEditor }},
        autoScroll: {
            enabled: {{ #get.current.metadata.autoScroll }}true{{ /get.current.metadata.autoScroll }}{{ ^get.current.metadata.autoScroll }}false{{ /get.current.metadata.autoScroll }},
            interval: 4000
        },
        debug: {{ #get.current.filtered.isDebug }}true{{ /get.current.filtered.isDebug }}{{ ^get.current.filtered.isDebug }}false{{ /get.current.filtered.isDebug }}
    });
    {{ #get.current.metadata.displayPreview }}{{ #get.current.fields.gallery_active }}
    for (const imageLink of document.querySelectorAll('#slideshow-{{ get.current.id }} .slideshow-preview .slideshow-images a')) {
        imageLink.addEventListener('click', (event) => {
            event.stopImmediatePropagation();
        });
    }
    {{ /get.current.fields.gallery_active }}{{ /get.current.metadata.displayPreview }}
    {{ #app.isEditor }}
    if (window.dachserData.reflow) {
        window.dachserData.reflow('swipehelper', 'selector', '#slideshow-{{ get.current.id }}');
    }
    {{ /app.isEditor }}
    {{ ^app.isEditor }}
    const captions = document.querySelectorAll('#slideshow-{{ get.current.id }} figcaption[itemprop="caption"]');
    for (const caption of [...captions]) {
        if (caption.offsetWidth < caption.scrollWidth) {
            const el = document.createElement('span');
            el.classList.add('caption-toggle');
            el.setAttribute('data-showmore', '{{ #lang }}image.caption.showMoreLabel{{ /lang }}');
            el.setAttribute('data-showless', '{{ #lang }}image.caption.showLessLabel{{ /lang }}');
            el.addEventListener('click', (event) => {
                event.preventDefault();
                event.stopPropagation();
                event.target.parentElement.classList.toggle('expanded');
            }, false);
            caption.prepend(el);
        }
    }
    {{ /app.isEditor }}
}());
</script>
{{ /get.current.id }}
</div>
