<div data-element-guid="{{ get.current.guid }}" 
    class="{{ #helper.trim }}
    column 
    slideshow-box 
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }} 
    {{ size.grid.absCss }} 
    {{ #style.collection }}box_fullWidth{{ /style.collection }}
    {{ /helper.trim }}"
    style="{{ #style.collection }}content_inline_style{{ /style.collection }}">
    {{{ get.current.filtered.styleSheets }}}
    <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}">
        {{ > content/slideshow/template/base }}
    </div>
</div>