<div data-element-guid="{{ get.current.guid }}" class="{{ #helper.trim }}
    column text_singleline
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ size.grid.css }}
    {{ size.grid.absCss }}
    {{ /helper.trim }}">
    {{{ get.current.filtered.styleSheets }}}
    <{{ get.current.fields.elementType }} class="{{ #helper.trim }}
        content
        singleline
        {{ #style.collection }}content_decoration{{ /style.collection }}
        {{ #style.collection }}text_decoration fields.text{{ /style.collection }}
        {{ /helper.trim }}" style="{{ #style.collection }}text_decoration_inline_style fields.text{{ /style.collection }} {{ #style.collection }}content_inline_style{{ /style.collection }}">
        {{{ get.current.fields.text }}}
    </{{ get.current.fields.elementType }}>
</div>