<div {{ #get.current.filtered.adData.customId }}id="{{{ get.current.filtered.adData.customId }}}"{{ /get.current.filtered.adData.customId }} style='display:none;' class="{{{ get.current.filtered.adData.code }}}"></div>