.infiniteScroll {
    background-color: inherit;

    &.column {
        padding-left: 0;
        padding-right: 0;
    }

    .infinitePlaceholder {
        font-size: 5rem;
    }

    .infinitePlaceholder, .lab-defaultTextValue {
        text-align: center;
    }

    .infiniteArticle {
        .infiniteScroll {
            display: none !important; // infinite inception
        }
    }
}
