<figure data-element-guid="{{ get.current.guid }}" class="{{#helper.trim}}
    {{ #style.collection }}box_decoration{{ /style.collection }}
    {{ #get.current.filtered.hasFloat }}{{ #style.definition }}responsive_size fields.vpWidth{{ /style.definition }}{{ /get.current.filtered.hasFloat }}
    {{ #style.definition }}imageBorder fields.border{{ /style.definition }}
    {{ #style.definition }}imageAlign fields.float{{ /style.definition }}
    {{ get.current.filtered.imageLoadingClass }}
    {{/helper.trim}}" {{ #get.current.filtered.hasFloat }}{{ ^get.current.fields.vpWidth }}style="width:{{ get.current.filtered.imageWidth }}px;"{{ /get.current.fields.vpWidth }}{{ /get.current.filtered.hasFloat }}>
    <div class="img fullwidthTarget">
        {{ > content/image/template/partials/img }}
        {{ > content/image/template/partials/shapes }}
    </div>
    {{ #get.parent.metadata.image_overlay }}<div class="imageOverlay {{ get.parent.metadata.image_overlay }} {{ get.parent.metadata.image_overlay_opacity }}"></div>{{ /get.parent.metadata.image_overlay }}
    {{ > content/image/template/partials/child }}
</figure>
