<div class="lab-empty-placeholder lab-aspect-ratio-medium lab-content" style="position: relative;">
    <div class="lab-inner">
        <span class="lab-icon-large labicon-images"></span>
        <p>
            <span class="addImageBtn">Drop media element here ...</span>
        </p>
    </div>
</div>