<div class="[[ #settings.classes ]] [[.]][[ /settings.classes ]]">
    [[ #settings.sitepartial ]]{{ #render.partial }}[[& settings.sitepartial ]]{{ /render.partial }}[[ /settings.sitepartial ]]
    [[ #settings.partial ]]{{ #render.sitePartial }}[[& settings.partial ]]{{ /render.sitePartial }}[[ /settings.partial ]]
    [[& children ]]
</div>
