<div class="bodytext intro">
  {{{ get.current.filtered.paywall.intro }}}
</div>
<div class="bodytext content-text">
  {{{ get.current.filtered.paywall.bodytext }}}
</div>
<div class="iteras-offers">
  {{#get.current.filtered.paywall.iteras.offersTitle}}<h2 class="offer-title">{{get.current.filtered.paywall.iteras.offersTitle}}</h2>{{/get.current.filtered.paywall.iteras.offersTitle}}
  {{#get.current.filtered.paywall.iteras.alreadySubscribedText}}
  <a class="already-subscribed" href="{{{get.current.filtered.paywall.iteras.alreadySubscribedLink}}}{{^get.current.filtered.paywall.iteras.alreadySubscribedLink}}/login{{/get.current.filtered.paywall.iteras.alreadySubscribedLink}}">
  {{get.current.filtered.paywall.iteras.alreadySubscribedText}}
  </a>
  {{/get.current.filtered.paywall.iteras.alreadySubscribedText}}
  <div class="offer-list">
    {{#get.current.filtered.paywall.iteras.offers}}
    <div class="offer">
      {{#offerImage}}
      <img class="offer-image" src="{{{offerImage}}}">
      {{/offerImage}}
      <h3 class="offer-name">{{name}}</h3>
      <ul class="offer-pros">
        {{#reasons}}
        <li>
          <span>{{{.}}}</span>
        </li>
        {{/reasons}}
      </ul>
      <a class="offer-cta" href="{{#helper.trim}}
        {{{offerButtonLink}}}
        {{^offerButtonLink}}
        {{{get.current.filtered.paywall.iteras.offerButtonLink}}}
        {{^get.current.filtered.paywall.iteras.offerButtonLink}}/offers{{/get.current.filtered.paywall.iteras.offerButtonLink}}
        {{/offerButtonLink}}
      {{/helper.trim}}">
        {{{offerButtonText}}}
        {{^offerButtonText}}
        {{get.current.filtered.paywall.iteras.offerButtonText}}
        {{^get.current.filtered.paywall.iteras.offerButtonText}}Order{{/get.current.filtered.paywall.iteras.offerButtonText}}
        {{/offerButtonText}}
      </a>
    </div>
    {{/get.current.filtered.paywall.iteras.offers}}
  </div>
  {{#get.current.filtered.paywall.iteras.offersSalesText}}<p class="offer-description">{{get.current.filtered.paywall.iteras.offersSalesText}}</p>{{/get.current.filtered.paywall.iteras.offersSalesText}}
</div>

<script type="text/javascript">
  const intro = document.querySelector('.intro');
  const content = document.querySelector('.content-text');
  const offers = document.querySelector('.iteras-offers');
  const alreadySubscribed = document.querySelector('.already-subscribed');
  const signedIn = Iteras.signedIn();

  if (signedIn) {
    alreadySubscribed.style.display = 'none';
  }

  Iteras.wall({
    paywallid: ["{{get.current.filtered.paywall.iteras.id}}"],
    unauthorized: () => {
        intro.style.display = "block";
        content.style.display = "none";
        content.remove();
        offers.style.display = "flex";
    }
  });
</script>
