{{ #getConfig.piano.insideBodytextAbove }}
    {{ > partial/lab4/paywall/piano/pianoPaywallContainer }}
{{ /getConfig.piano.insideBodytextAbove }}

{{{ get.current.filtered.paywall.bodytext }}}

{{ #getConfig.piano.insideBodytextBelow }}
    {{ > partial/lab4/paywall/piano/pianoPaywallContainer }}
{{ /getConfig.piano.insideBodytextBelow }}