    <div class="sales-pitch">
        <div class="pitch-content-wrapper">
            <h4 class="sales-pitch-title">{{{get.root.fields.paywallSalesPitchTitle}}}</h4>
            <div class="pitch-content">
                {{{get.root.fields.paywallSalesPitchContent}}}
            </div>
        </div>
    </div>