    <div class="sales-pitch">
        <div class="sales-pitch-content-wrapper">
            <h4 class="sales-pitch-title {{ #style.collection }}text_decoration fields.paywallSalesPitchTitle{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.paywallSalesPitchTitle{{ /style.collection }}">{{{ get.root.fields.paywallSalesPitchTitle }}}</h4>
            <div class="sales-pitch-content {{ #style.collection }}text_decoration fields.paywallSalesPitchContent{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.paywallSalesPitchContent{{ /style.collection }}">
                {{{ get.root.fields.paywallSalesPitchContent }}}
            </div>
        </div>
    </div>