{{ #getConfig.sesamy }}
  {{ #enabled }}
  <sesamy-content-container {{ #enabledProxyLock }}lock-mode="proxy" locked-content-selector="div[slot='content']" {{ /enabledProxyLock }}gradient {{#getConfig.sesamy.passPageAbsolute}}pass="{{{getConfig.sesamy.passPageAbsolute}}}"{{/getConfig.sesamy.passPageAbsolute}} {{^getConfig.sesamy.passPageAbsolute}}pass="{{{get.root.filtered.customer_front_url}}}/{{{getConfig.sesamy.passPage}}}"{{/getConfig.sesamy.passPageAbsolute}} publisher-content-id="{{ get.root.id }}" class="bodytext">
    <div slot="preview" class="teaserContent bodytext">
      {{{ get.current.filtered.paywall.intro }}}
    </div>
    <div slot="content" class="bodytext">
      {{{ get.current.filtered.paywall.bodytext }}}
    </div>
  </sesamy-content-container>
    {{ #getConfig.sesamy.settingsUrl }}
    <div class="sesamy-paywall-container">
      <sesamy-paywall publisher-content-id="{{ get.root.id }}" item-src="{{{get.root.filtered.url}}}" settings-url="{{{getConfig.sesamy.settingsUrl}}}">
        <div slot="below-headline" class="{{{ get.root.fields.paywallLayoutType }}}">
            {{ #get.root.fields.paywallSalesImage }}
                <div class="sales-pitch-image">
                    <img src="{{ #image.getFrontCropUrl }}1200,{{ #calculator.multiply }}1200 {{ getConfig.image.socialAspectRatio }}{{ /calculator.multiply }},jpg{{ /image.getFrontCropUrl }}" alt="">
                </div>
            {{ /get.root.fields.paywallSalesImage }}
            {{ #get.root.fields.paywallSalesPitchContent }}
              {{> partial/lab4/paywall/salespitch}}
            {{ /get.root.fields.paywallSalesPitchContent }}
        </div>
      </sesamy-paywall>
    <div>
    {{ /getConfig.sesamy.settingsUrl }}
    {{ ^getConfig.sesamy.settingsUrl }}
    <div class="sesamy-paywall">
      {{ #getConfig.sesamy.poster.logo }}
      <div class="sesamy-poster-logo-wrapper">
        <img src="{{getConfig.sesamy.poster.logo}}" alt="" class="sesamy-poster-logo">
      </div>
      <h2>{{getConfig.sesamy.poster.title}}</h2>
      {{ /getConfig.sesamy.poster.logo }}
      {{ ^getConfig.sesamy.poster.logo }}
      <h2>{{getConfig.sesamy.poster.title}}</h2>
      {{ /getConfig.sesamy.poster.logo }}
      <ul class="reasons">
      {{#getConfig.sesamy.poster.reasons}}
        <li>{{.}}</li>
      {{/getConfig.sesamy.poster.reasons}}
      </ul>
      {{ #getConfig.sesamy.poster.endnote }}
      <div class="sesamy-poster-endnote">
        <h3>{{getConfig.sesamy.poster.endnoteTitle}}</h3>
        <p>{{getConfig.sesamy.poster.endnote}}</p>
      </div>
      {{ /getConfig.sesamy.poster.endnote }}
      <div class="purchase-options">
        {{#getConfig.sesamy.passPage}}
        <div class="option-subscription">
          <p>{{getConfig.sesamy.poster.subscribe}}</p>
          <a class="sesamy-subscribe" href="{{get.root.filtered.customer_front_url}}/{{getConfig.sesamy.passPage}}">{{getConfig.sesamy.poster.subscribeButton}}</a>
        </div>
        {{/getConfig.sesamy.passPage}}
        <div class="option-single">
          <p>{{getConfig.sesamy.poster.purchase}}</p>
          <sesamy-button class="sesamy-single" hide-logo {{#getConfig.sesamy.poster.purchaseButton}}text="{{getConfig.sesamy.poster.purchaseButton}}"{{/getConfig.sesamy.poster.purchaseButton}} checkout-mode="redirect" checkout-version="2" publisher-content-id="{{ get.root.id }}"></sesamy-button>
        </div>
      </div>
    </div>
    {{ /getConfig.sesamy.settingsUrl }}
  {{ /enabled }}
{{ /getConfig.sesamy }}
