<div data-element-guid="{{ get.current.guid }}" class="byline column {{ size.grid.css }} {{ size.grid.absCss }} {{ #style.collection }}box_decoration{{ /style.collection }}" itemscope itemtype="http://schema.org/Person">
    {{{ get.current.filtered.styleSheets }}}
    <div class="content {{ #style.collection }}content_decoration{{ /style.collection }}{{ ^get.current.metadata.background_color }} {{ get.current.filtered.default_color }}{{ /get.current.metadata.background_color }}">
        {{{ children.image }}}
        <address class="name">
            {{ #get.current.filtered.data.items }}
                {{ #url }}
                    <a rel="author" itemprop="url" href="{{#app.isFront}}{{ url }}{{/app.isFront}}">{{ /url }}
                    <span class="lab-hidden-byline-name" itemprop="name">{{{ get.current.fields.firstname }}} {{{ get.current.fields.lastname}}}</span>
                    {{ #parts }}
                        <span class="{{ key }} {{ #style.collection }}text_decoration fields.{{ key }}{{ /style.collection }}">{{ #url }}{{ #helper.stripLinks }}{{{ value }}}{{ /helper.stripLinks }}{{ /url }}{{ ^url }}{{{ value }}}{{ /url }}</span>
                    {{ /parts }}{{ #url }}
                    </a>
                {{ /url }}
            {{ /get.current.filtered.data.items }}
        </address>
        <div class="extended_description {{ #style.collection }}text_decoration fields.description2{{ /style.collection }}">{{{ get.current.fields.description2 }}}</div>
    </div>
</div>

