<p itemprop="description" class="subtitle {{ #style.collection }}text_decoration fields.subtitle{{ /style.collection }}" style="{{ #style.collection }}text_decoration_inline_style fields.subtitle{{ /style.collection }}"
    {{ #get.current.fields.kicker[animate] }}data-content="{{ #helper.sanitizeString }}{{{ get.current.filtered.kicker }}}{{ /helper.sanitizeString }}"{{ /get.current.fields.kicker[animate] }}>
    {{{ get.current.filtered.subtitle }}}
</p>