@use "../../css_scss/components/vars" as *;

.text_multiline.column {
    padding: 0;

    .content.hasContentPadding figure {
        margin-inline: 0;
        margin-top: 0;
    }
    
    ul { 
        margin: 0;
        padding-inline-start: 2rem;

        li {
            list-style-type: disc;
            margin: 0 0 0.5em 1.2rem;
            list-style-position: outside;
        }
    }

    ol {
        margin: 0;
        padding-inline-start: 2rem;

        li {
            list-style-type: decimal;
            margin: 0 0 0.5em 1.2rem;
            list-style-position: outside;
        }
    }

    .bodytext {
        margin-bottom: 0;
        overflow: auto;
    }

    .bodytext > p, 
    .bodytext > h2, 
    .bodytext > h3,
    .bodytext > h4, 
    .bodytext > ul, 
    .bodytext > ol {
        padding-right: $columns_gutter;
    }

    .very_large {
        font-size: 1.5em;
    }

    .large {
        font-size: 1.25em;
    }

    .small {
        font-size: 0.85em;
    }

    .very_small {
        font-size: 0.7em;
    }
}