<form class="lab-grid lab-valign-center">
    <!--- <div class="collabrador_filter_section lab-grid lab-valign-center">
        <div class="filter_label">Filter comments by state</div>
        <div class="collabrador_unresolved lab-grid-large-6"></div>
        <div class="collabrador_resolved lab-grid-large-6"></div>
    </div> -->

    <script>
        document.querySelector('input[type="button"]').addEventListener('click', () => {
            // Get the form and reset it
            const form = document.querySelector('form');
            form.reset();
            // Clearing all the inputs won't trigger the search again as they have eventlisteners
            // for input, and there's no input when resetting a form. So we trigger it manually.
            document.querySelector('input[name="id"]').dispatchEvent(new Event('input'));
        })
    </script>
</form>
