<form method="post">
    <h4>Settings for article-list</h4>    

    <p style="clear: both; margin: 0;">
        <label>Text-search
            <input name="fields.textSearch" value="{{fields.textSearch}}" type="text" placeholder="Search title, subtitle, bodytext or ID ..." />
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Article Source
            <select name="fields.articleSourceList">
                {{ #filtered.articleSourceList }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.articleSourceList }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Site
            <select name="fields.siteList">
                {{ #filtered.siteList }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.siteList }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Section
            <select name="fields.sectionList">
                {{ #filtered.sectionList }}
                <option value="{{{ value }}}" {{#selected}}selected{{/selected}}>{{{ text }}}</option>
                {{ /filtered.sectionList }}
            </select>
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Date from
            <input type="date" name="fields.dateFrom" value="">
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Date to 
            <input type="date" name="fields.dateTo" value="">
        </label>
    </p>

    <p style="width: 48%; float: left; margin: 0 4% 0 0;">
        <label>Number of results
            <input type="number" name="fields.amount">
        </label>
    </p>

    <input type="hidden" value="0" name="filtered.page" />

    <p style="clear: both; padding-top: 1em;">
        <input class="labDs-btn" style="float:right;" type="submit" value="OK">
    </p>
</form>

