/* Style for contentbox articleList */
@use "../../css_scss/components/vars" as *;
@use 'sass:math';

.articleList {
    --articleList-columns: repeat(4, 1fr);

    h3 {
        font-size: 1.4em;

        &[class*="bg-"] {
            padding: .3rem 0.4rem;
            display: grid;
            margin-bottom: .7rem;
        }

        &:empty {
            display: none;
        }
    }

    ul {
        display: grid;
        grid-template-columns: var(--articleList-columns);
        gap: 22px;
    }

    li {
        overflow: auto;

        h3 {
            font-size: 1.2em;
            color: #333;
        }

        a {
            text-decoration: none;
            color: #333;

            .al-kicker {
                font-size: 0.8rem;
            }
        }
    }

    &.imageLayout_full li h2 {
        margin-top: 0.3em;
        margin-bottom: 0;
    }

    .content[class*=" bg-"] figure,
    .content.hasContentPadding figure {
        margin: 0;
    }

    &.layout_vertical {
        ul {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &.imageLayout_right {
        figure {
            float: right;
            margin-left: 0.6em;
            max-width: 40%;
        }
    }

    &.imageLayout_left {
        figure {
            float: left;
            max-width: 40%;
        }
    }

    &.imageLayout_left figure,
    &.imageLayout_left .content[class*=" bg-"] figure,
    &.imageLayout_left .content.hasContentPadding figure {
        margin-right: 0.6em;
        margin-top: 0;
    }

    &.imageLayout_right figure,
    &.imageLayout_right .content[class*=" bg-"] figure,
    &.imageLayout_right .content.hasContentPadding figure {
        margin-left: 0.6em;
        margin-top: 0;
    }

    @include desktop_down {
        --articleList-columns: var(--articleList-columnsMobile);
    }

    @include desktop {
        --articleList-columns: var(--articleList-columnsDesktop);
    }
}

