@use "../../css_scss/components/vars" as *;

.authorBox.column {
    padding-bottom: 1rem;

    .content {
        text-decoration: none;
        height: 100%;
        overflow: hidden;

        &[class*=" bg-"] figure.floatLeft,
        &.hasContentPadding figure.floatLeft {
            margin-right: $columns_gutter;

            img {
                min-width: 20px;
                min-height: 20px;
            }
        }

        &[class*=" bg-"] figure.floatRight,
        &.hasContentPadding figure.floatRight {
            margin-left: $columns_gutter;
        }

        figure.desktop-floatLeft {
            margin-right: $columns_gutter;
        }

        figure.desktop-floatRight {
            margin-left: $columns_gutter;
        }

        @for $i from 1 through 64 {
            &.rounded-image-edge-#{$i} {
                .media {
                    figure {
                        .img {
                            picture {
                                img {
                                    border-radius: #{$i}px;
                                }
                            }
                        }
                    }
                }

                &[class*=" bg-"],
                &[class*=" color_mobile_bg-"] {
                    .media {
                        padding: 1rem;
                    }
                }
            }
        }

        &.rounded-image {
            .media {
                figure {
                    .img {
                        picture {
                            img {
                                clip-path: circle();
                            }
                        }
                    }
                }
            }

            &[class*=" bg-"],
            &[class*=" color_mobile_bg-"] {
                .media {
                    padding-top: 1rem;

                    &.mobile-floatLeft,
                    &.mobile-floatRight {
                        padding-bottom: 2rem;
                    }

                    @include tablet_up {
                        &.desktop-floatLeft,
                        &.desktop-floatRight {
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }

        // Adding some margin below each element
        .media {
            margin-bottom: 0.5rem;
        }

        .description {
            margin-bottom: 0.5rem;
        }

        .extended_description {
            margin-bottom: 0.5rem;
        }

        .public_phone {
            margin-bottom: 0.5rem;
        }

        .public_url {
            margin-bottom: 0.5rem;
        }

        .public_email {
            margin-bottom: 0.5rem;
        }

        // Remove from last visible/rendered element
        .public_email:last-child,
        .public_url:last-child,
        .public_phone:last-child,
        .extended_description:last-child,
        .description:last-child,
        .full_name:last-child,
        .media:last-child {
            margin-bottom: 0;
        }

        .public_phone:before,
        .public_url:before,
        .public_email:before {
            font-size: 1.2em;
            line-height: 1;
            vertical-align: middle;
            margin-right: 0.1em;
        }

        .text {
            display: flex;
            flex-direction: column;
        }

        @include tablet_up {
            &.vertical-text-align-center .text {
                justify-content: center;
            }
        }

        @include mobile {
            &.mobile-vertical-text-align-center .text {
                justify-content: center;
            }
        }

    }

    @include tablet_up {
        &.desktop-horizontal_authorbox .content {
            display: flex;
        }
    }

    @include mobile {
        &.mobile-horizontal_authorbox .content {
            display: flex;
        }
    }

    .media {
        position: relative;
    }
}

@include mobile {
    .authorBox.column .content.mobile-fullWidth {
        overflow: visible;
    }

    .authorBox.column.mobile-vertical_authorbox .content {
        display: flex;
        flex-direction: column;
    }

    .authorBox.column .content[class*=" bg-"] figure.mobile-floatLeft,
    .authorBox.column .content[class*=" bg-"] figure.mobile-floatRight,
    .authorBox.column .content.mobile-hasContentPadding figure.mobile-floatLeft,
    .authorBox.column .content.mobile-hasContentPadding figure.mobile-floatRight {
        margin-bottom: 0;
    }
}

@include tablet_up {
    .authorBox.column .content.desktop-fullWidth {
        overflow: visible;
    }

    .authorBox.column.desktop-vertical_authorbox .content {
        display: flex;
        flex-direction: column;
    }

    .authorBox.column .content[class*=" bg-"] figure.desktop-floatLeft,
    .authorBox.column .content[class*=" bg-"] figure.desktop-floatRight,
    .authorBox.column .content.hasContentPadding figure.desktop-floatLeft,
    .authorBox.column .content.hasContentPadding figure.desktop-floatRight {
        margin-bottom: 0;
    }
}
