<!DOCTYPE html>
<html {{ #get.current.filtered.seolanguage }}lang="{{ . }}"{{ /get.current.filtered.seolanguage }}{{ ^get.current.filtered.seolanguage }}{{ #get.current.filtered.contentLanguage }}lang="{{ . }}"{{ /get.current.filtered.contentLanguage }}{{ /get.current.filtered.seolanguage }} dir="{{ getConfig.textDirection }}" class="{{ #get.current.filtered.featureFlags.responsive_mobile_fonts }}resp_fonts{{ /get.current.filtered.featureFlags.responsive_mobile_fonts }}">
<!-- hallo -->
    <head>
        {{> partial/lab4/page_head_before }}
        {{> partial/lab4/page_head }}
        {{> partial/lab4/page_head_after }}
        <meta property="article:section" content="{{{ get.current.filtered.section }}}">
        {{ #get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}{{ > partial/lab4/analytics/kilkaya_metadata }}{{ /get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}
        {{ > partial/lab4/analytics/kilkaya }}

        <style>
            :root {
                {{ #get.current.fields.bodytextWidth }}--bodytext-width: var({{ get.current.fields.bodytextWidth }});{{ /get.current.fields.bodytextWidth }}
                {{ #get.current.fields.bodytextAlignment }}--bodytext-alignment: var({{ get.current.fields.bodytextAlignment }});{{ /get.current.fields.bodytextAlignment }}
            }
        </style>

        {{ #app.isEditor }}<link rel="stylesheet" href="/view-resources/baseview/view/css/edit.css">{{ /app.isEditor }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
        {{> partial/site/kode24/scripts}}
        {{> partial/site/kode24/scripts.lightswitch}}
    </head>

    <body class="{{ #helper.trim }}


        l4 article site_{{{ get.current.filtered.site.alias }}}
        {{ get.current.fields.articleStyle }}

        {{ #get.current.filtered.section }} section_{{ get.current.filtered.section }}{{ /get.current.filtered.section }}
        {{ get.current.filtered.autodata_css }}
        {{ #app.isFront }}
            {{ #getConfig.paywall.article.blurAllContent }}{{ #get.current.fields.paywall }}{{ ^get.current.filtered.paywall.hasAccess }}blur-content{{ /get.current.filtered.paywall.hasAccess }}{{ /get.current.fields.paywall }}{{ /getConfig.paywall.article.blurAllContent }}
            {{ #getConfig.iteras.id }}
                iteras-paywall
            {{ /getConfig.iteras.id }}
        {{ /app.isFront }}
        {{ #app.isEditor }}is-editor{{ /app.isEditor }}
        {{ #get.current.fields.pageBackgroundColorStyleDark }} dark-mode{{ /get.current.fields.pageBackgroundColorStyleDark }}
        {{ #get.current.fields.pageBackgroundColor }}{{ get.current.fields.pageBackgroundColor }} custom-background-color{{ /get.current.fields.pageBackgroundColor }}
        {{ #get.current.fields.pageBackgroundColorStyle }} custom-background-color{{ /get.current.fields.pageBackgroundColorStyle }}
        {{ #get.current.fields.pageFontColor }} custom-font-color{{ get.current.fields.pageFontColor }}{{ /get.current.fields.pageFontColor }}
        {{ #get.current.filtered.paywall.enabled }} has-paywall{{ /get.current.filtered.paywall.enabled }}
        {{ #get.current.fields.bodytextWidth }} custom-bodytext-width{{ /get.current.fields.bodytextWidth }}
        {{ #get.current.fields.bodytextAlignment }} custom-bodytext-alignment{{ /get.current.fields.bodytextAlignment }}
        {{ #get.current.fields.articleHeaderBodytextWidth }} articleHeader-bodytext-width{{ /get.current.fields.articleHeaderBodytextWidth }}
        {{ #get.current.fields.articleHeaderImageBodytextWidth }} articleHeader-image-bodytext-width{{ /get.current.fields.articleHeaderImageBodytextWidth }}
        {{ #get.current.fields.articleMetaBodytextWidth }} articleHeader-meta-bodytext-width{{ /get.current.fields.articleMetaBodytextWidth }}
        {{ get.current.fields.pageHeaderDisplay }}
        {{ get.current.filtered.pageHeaderDisplay }}
        {{ get.current.filtered.pageFooterDisplay }}
        {{ get.current.filtered.pageCommentsDisplay }}

        {{ /helper.trim }}"
        {{ #get.current.fields.pageBackgroundColorStyle }} style="background-color:{{ get.current.fields.pageBackgroundColorStyle }};{{ #get.current.fields.pageBackgroundColorStyleDark }}color:#fff;{{ /get.current.fields.pageBackgroundColorStyleDark }}"{{ /get.current.fields.pageBackgroundColorStyle }}
        {{ #render.partial }}page_body_tag_inside{{ /render.partial }}>
        {{ #app.isEditor }}<div id="is-editor"></div>{{ /app.isEditor }}
        {{ > partial/lab4/page_body_prefix }}

        {{> partial/site/kode24/skipto}}
        {{> partial/site/kode24/header}}

        {{ #render.pageElement }}page_header lab4/page_header{{ /render.pageElement }}
        {{ > partial/lab4/after_page_header }}

        {{{ selector.placement_non-relative }}}

        {{ #get.current.filtered.readProgress.active }}
        {{> partial/readProgress }}
        {{ /get.current.filtered.readProgress.active }}

        {{ #app.isFront }}
        {{ #getConfig.paywall.article.blurAllContent }}
        {{ #get.current.fields.paywall }}
        {{ ^get.current.filtered.paywall.hasAccess }}
        {{ #render.partial }}lab4/paywall/{{get.current.filtered.paywall.provider}}{{ /render.partial }}
        {{ /get.current.filtered.paywall.hasAccess }}
        {{ /get.current.fields.paywall }}
        {{ /getConfig.paywall.article.blurAllContent }}
        {{ /app.isFront }}

        <section class="frontpage wide">

            {{{ selector.placement_top }}}
            <main class="pageWidth" id="main-content">
                <article class="{{ #get.current.fields.pageBackgroundColor }}bg-baseview-custom{{ /get.current.fields.pageBackgroundColor }} {{ get.current.fields.pageFontColor }}{{ #get.current.fields.pageBackgroundColorStyle }} bg-baseview-custom{{ /get.current.fields.pageBackgroundColorStyle }}">

                    <section class="main article k5a-article article-entity" id="main">
                    <header class="row">
                          {{ & placeholder.lab-dz-articletop }}
                          {{ & placeholder.lab-dz-byline }}
                        </header>
                        {{{ child.articlePreHeader }}}

                        {{{ child.articleHeader }}}

                        {{ #render.partial }}articleAfterArticleHeader{{ /render.partial }}

                        {{{ child.adZone_4 }}}
                        {{{ selector.placement_above_article }}}
                        {{ #get.current.filtered.page_settings.social.display.bodytext_before }}
                        <div class="row social">
                            <div class="column large-12 small-12">
                            {{ #get.current.filtered.page_settings.social.items }}
                            {{ > partial/social_button }}
                            {{ /get.current.filtered.page_settings.social.items }}
                            </div>
                        </div>
                        {{ /get.current.filtered.page_settings.social.display.bodytext_before }}
                        {{ #get.current.filtered.ageWarning }}
                        {{ > partial/ageWarning }}
                        {{ /get.current.filtered.ageWarning }}

                        {{! Piano paywall container }}
                        {{ #getConfig.piano.aboveBodytext }}
                            {{ > partial/lab4/paywall/piano/pianoPaywallContainer }}
                        {{ /getConfig.piano.aboveBodytext }}

                        {{ #render.partial }}aboveBodytext{{ /render.partial }}

                        {{{ child.bodytext }}}

                        {{ #render.partial }}belowBodytext{{ /render.partial }}

                        {{ #getConfig.piano.belowBodytext }}
                            {{ > partial/lab4/paywall/piano/pianoPaywallContainer }}
                        {{ /getConfig.piano.belowBodytext }}

                        {{{ child.articleFooter }}}

                        {{ #get.current.filtered.page_settings.social.display.bodytext_after }}
                        <div class="row social">
                            <div class="column large-12 small-12">
                                {{ #get.current.filtered.page_settings.social.items }}
                                {{ > partial/social_button }}
                                {{ /get.current.filtered.page_settings.social.items }}
                            </div>
                        </div>
                        {{ /get.current.filtered.page_settings.social.display.bodytext_after }}

                        {{ #get.current.filtered.embeddable.display }}
                        <div class="row">
                            <div class="column large-12 small-12 embed">
                                {{> partial/embedThis}}
                            </div>
                        </div>
                        {{ /get.current.filtered.embeddable.display }}
                    </section>
                    <section class="comments updated">
                        {{> partial/site/kode24/article.comments}}
                    </section>
                    {{ #get.current.filtered.widgets.strossle }}<div class="column large-12 small-12">{{ > widgets/strossle }}</div>{{ /get.current.filtered.widgets.strossle }}
                </article>
                <section class="related desktop-fullWidth mobile-fullWidth fullwidthTarget">
                {{{ child.dropZone }}}
                </section>

                <div id="desktop-rows">
                  <div id="articles-above-first-banner"></div>
                  <div id="articles-below-first-banner"></div>
                  <div id="articles-below-second-banner"></div>
                </div>

            </main>
            {{> partial/site/kode24/leftmenu}}
            <aside id="desktop-sidemenu-front"></aside>

            {{{ selector.placement_left }}}
            {{{ selector.placement_right }}}
        </section>

        {{ #get.current.filtered.readProgress.active }}
        <script>
            (function () {
                window.dachserData.push('readprogress', {
                    selector: '.read-progress',
                    targetSelectors: ['.articleHeader', '.bodytext'],
                    minElementCount: '{{ get.current.filtered.readProgress.minElementCount }}',
                    debug: {{ #get.current.filtered.isDebug }}true{{ /get.current.filtered.isDebug }}{{ ^get.current.filtered.isDebug }}false{{ /get.current.filtered.isDebug }}
                });
            }());
        </script>
        {{ /get.current.filtered.readProgress.active }}

        <script>
            {{ ^app.isEditor }}
            const audioPlayers = document.querySelectorAll('.dacInlineAudio');
            for (const audioPlayer of audioPlayers) {
                window.dachserData.push('audioInline', audioPlayer);
            }
            {{ /app.isEditor }}
        </script>
        {{> partial/site/kode24/footer}}
    </body>
</html>
