<style data-key="custom_css_variables">
:root {
    {{ #get.current.filtered.css_variables.no_viewport }}
    --{{ key }}: {{ value }};
    {{ /get.current.filtered.css_variables.no_viewport }}
}

@media(max-width: 767px) {
    :root {
        {{ #get.current.filtered.css_variables.mobile }}
        --{{ key }}: {{ value }};
        {{ /get.current.filtered.css_variables.mobile }}
    }
}

@media(min-width: 767px) {
    :root {
        {{ #get.current.filtered.css_variables.desktop }}
        --{{ key }}: {{ value }};
        {{ /get.current.filtered.css_variables.desktop }}
    }
}
</style>
