<script>
    (function() {
        if (window.kilkaya && window.kilkaya.pageview) {
            function triggerTracking(records, observer) {
                for (const record of records) {
                    if (record.target.classList.contains("observed")) {
                        kilkaya.pageview({
                            {{ #get.current.filtered.is_article }}
                            "paid": {{ #get.current.filtered.paywall.enabled }}1{{ /get.current.filtered.paywall.enabled }}{{ ^get.current.filtered.paywall.enabled }}0{{ /get.current.filtered.paywall.enabled }},
                            {{ #get.current.filtered.paywall.enabled }}"paywall": (Dac.clientData.paywall.isAuthenticated ? "open" : "hard"),{{ /get.current.filtered.paywall.enabled }} 
                            {{ #get.current.fields.stats_word_count }}"wordcount": "{{ get.current.fields.stats_word_count }}",{{ /get.current.fields.stats_word_count }}
                            "author": [{{{ get.current.filtered.bylinesStringCommaSeparated }}}],
                            "tag": [{{{ get.current.filtered.tagsStringCommaSeparated }}}],
                            {{ /get.current.filtered.is_article }}
                            {{ #get.current.filtered.seotitle }}
                            "title": "{{ #helper.sanitizeString }}{{{ get.current.filtered.seotitle }}}{{ /helper.sanitizeString }}",
                            {{ /get.current.filtered.seotitle }}
                            "url": "{{{ get.current.filtered.staticUrl }}}",
                            "login": (Dac.clientData.paywall.isAuthenticated ? 1 : 0),
                            "subscriber": (Dac.clientData.paywall.isAuthenticated ? 1 : 0)
                        });
                    }
                }             
            }

            const observerOptions = {
                attributes: true,
            };

            const observer = new MutationObserver(triggerTracking);
            const container = document.getElementById("infiniteArticle-{{ get.current.id }}");
            observer.observe(container, observerOptions);
        }
    })();
</script>