{{ ^isButton }}<a target="blank" href="{{{ url }}}" class="{{ icon }}"><span class="share-text">{{ shareText }}</span></a>{{ /isButton }}
{{ #isButton }}<button onClick={{{ url }}} class="{{ icon }}"></button>{{ /isButton }}
