{{ ^isButton }}
    <a target="_blank" href="{{{ url }}}" class="{{ icon }}" {{ #shareText }}aria-label="{{ shareText }}"{{ /shareText }}></a>
{{ /isButton }}
{{ #isButton }}
    <button onClick={{{ url }}} class="{{ icon }}" {{ #shareText }}aria-label="{{ shareText }}"{{ /shareText }}></button>
{{ /isButton }}
