<div>
    <div class="lab-aside-settings">
        <h4 class="lab-title">Source</h4>
        <p class="lab-para lab-link lab-selected" data-section="source" data-nav-target="source-tab">Articles (<span style="color:red; font-weight: bold;">*</span>)</p>
    </div>
    <div class="lab-aside-settings">
        <h4 class="lab-title">Organize</h4>
        <p class="lab-para lab-link" data-section="organizer" data-nav-target="organize-tab">Group articles (<span style="color:red; font-weight: bold;">*</span>)</p>
    </div>
    <div class="lab-aside-settings">
        <h4 class="lab-title">Layout</h4>
        <p class="lab-para lab-link" data-section="sizes" data-nav-target="layout-tab">Text and images</p>
    </div>
    <div class="lab-aside-settings">
        <h4 class="lab-title">Autolayout</h4>
        <p class="lab-para lab-link" data-section="postprocessor" data-nav-target="autolayout-tab">Autolayout</p>
    </div>
</div>