<div class="columns dashboardbox feed_list {{ view.grid.css }} abs_grid_{{ view.grid.absoluteWidth }} {{ view.boxCss.background_color }}{{ #fields.compactView }} compact{{ /fields.compactView }}">
    <div class="dashboardbox-menu">
        <h3>{{{ fields.title }}}, site: {{{filtered.site_alias}}}</h3>
    </div>
    <div class="content">
        {{ #filtered.noArticles }}
            <ul class="articles">
                <li>{{ filtered.errorMsg }}</li>
            </ul>
        {{ /filtered.noArticles }}
        {{ ^filtered.noArticles }}
            <ul class="articles">{{ #external.feed }}
                <li class="{{ #labId }}lab-article-exists{{ /labId }} ritzau-{{ labFrontId }}">
                    <div class="image">
                        {{ #frontCropUrl }}<img src="{{ frontCropUrl }}" />{{ /frontCropUrl }}
                        {{ ^frontCropUrl }}<span class="noimage lab-icon-upload"></span>{{ /frontCropUrl }}
                    </div>
                    <div class="controls">
                        {{ ^labId }}<span title="Import article" class="control_el import_ritzau lab-icon-import" data-ritzau-id="{{ labFrontId }}" onclick="import_article('{{ labFrontId }}');"></span> {{ /labId }}
                        {{ #labId }}<a title="Edit article" data-lab-ignore-exitwarning="1" href="/edit/article/id/{{ labId }}" target="_blank" class="control_el lab-icon-startEdit"></a>{{ /labId }}
                    </div>
                    <div class="article">
                        <h4 class="{{^labFrontTitle}}no-title{{/labFrontTitle}}">{{{ labFrontTitle }}}{{^labFrontTitle}}Missing{{/labFrontTitle}}</h4>
                        {{#labFrontSubtitle}}<p class="subtitle">
                            {{ labFrontSubtitle }}
                        </p>{{/labFrontSubtitle}}

                        {{ #fields.displayTags}}
                        <p class="meta">
                            Section: <span class="tag lab-icon-tag">{{ labFrontSection }}</span>
                            <!-- Tags: <span class="tag lab-icon-tag">{{ tags }}</span> -->
                        </p>
                        {{ /fields.displayTags}}
                        <p class="meta">
                            {{#publishedString}}
                             Published: <span class="date lab-icon-time">{{{ publishedString }}}</span>
                            {{/publishedString}}
                        </p>
                    </div>
                </li>
            {{ /external.feed }}</ul>
        {{ /filtered.noArticles }}
    </div>
    <div class="dashboardbox-nav"><span class="pager">Page {{ filtered.pageNumber }}</span></div>
</div>
<script>
function import_article(ritzauId) { 
    lab_api.v1.article.ui.import('ritzau', ritzauId) // sourceName, sourceId, importSettings
}
</script>
