<ul class="lab-list lab-grid lab-autogrid">
    <li class="lab-grid-large-3 lab-btn lab-small lab-footer-prev labicon-arrow_left" title="Display previous page"></li>
    <li class="lab-grid-large-3 lab-align-center lab-valign-center lab-grid lab-footer-counter">1</li>
    <li class="lab-grid-large-3 lab-btn lab-small lab-footer-next labicon-arrow_right" title="Display next page"></li>
    <li class="lab-grid-large-3 lab-btn lab-small lab-footer-reload labicon-refresh"></li>
</ul>