<form class="lab-grid lab-valign-center">
    <div class="lab-grid-large-8 lab-grid lab-valign-center">
        <input type="text" placeholder="Type a search and hit Enter ..." name="text" autocomplete="off" class="lab-grid-large-12 lab-grid-gap" />
    </div>
    <div class="lab-grid-large-4 lab-grid lab-valign-center">
        <input type="button" name="add" value="Add Teaser" class="lab-grid-large-12 lab-grid-gap" />
    </div>
</form>
