<div class="lab-empty-placeholder lab-padding-medium lab-content">
    <div class="lab-inner">
        <span class="lab-icon-large labicon-code"></span>
        <p>No markup available</p>
    </div>
</div>