<textarea name="fields.markup" style="height:400px;" placeholder="Paste or write your HTML here ..."></textarea>
<p>
    <label for="doValidate">Validate input
        <input type="checkbox" name="doValidate" id="doValidate" checked>
    </label>
</p>