<script src="https://kode24-assets-labrador.onrender.com/assets/front.js?v10" defer></script>
<link rel="stylesheet" href="/view-resources/kode24/view/css/site/kode24.css">
<link rel="stylesheet" href="https://kode24-assets-labrador.onrender.com/assets/index.css?v10">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>