<!DOCTYPE html>
<html {{ #get.current.filtered.contentLanguage }}lang="{{ . }}"{{ /get.current.filtered.contentLanguage }} dir="{{ getConfig.textDirection }}" class="{{ #get.current.filtered.featureFlags.responsive_mobile_fonts }}resp_fonts{{ /get.current.filtered.featureFlags.responsive_mobile_fonts }} dark" data-hostpath="{{ get.current.fields.hostpath }}">
    <head>
        <div id="hello" className="grid grid-cols-2">hello</div>
        {{ #get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}{{ > partial/lab4/analytics/kilkaya_metadata }}{{ /get.current.filtered.analytics.kilkayaSettings.showKilkayaMetatags }}
        {{ > partial/lab4/analytics/kilkaya }}
        {{ #app.isEditor }}<link rel="stylesheet" href="/view-resources/baseview/view/css/edit.css">{{ /app.isEditor }}
        <link rel="stylesheet" href="/view-resources/baseview/view/css/main.css">
        <link rel="stylesheet" href="/view-resources/baseview/view/css/grid.css">
        <link rel="stylesheet" href="/view-resources/baseview/view/css/colors.css">
        <link rel="stylesheet" href="/view-resources/baseview/view/css/print.css">
        <link rel="stylesheet" href="/view-resources/kode24-labrador-view/view/css/site/kode24.css">

        {{ ^app.isEditor }}
        {{ #getPreload.ab_collections }}
        {{> partial/lab4/abtest/kilkaya }}
        {{ /getPreload.ab_collections }}
        {{ /app.isEditor }}
    </head>
    <body class="{{ #helper.trim }}
        l4 front site_{{{ get.current.filtered.site.alias }}}
        {{ #fields.pageBackgroundColorStyleDark }} dark-mode{{ /fields.pageBackgroundColorStyleDark }}
        {{ #get.current.fields.pageBackgroundColor }}{{ get.current.fields.pageBackgroundColor }} custom-background-color{{ /get.current.fields.pageBackgroundColor }}
        {{ #get.current.fields.pageBackgroundColorStyle }} custom-background-color{{ /get.current.fields.pageBackgroundColorStyle }}
        {{ #get.current.fields.pageFontColor }} custom-font-color{{ get.current.fields.pageFontColor }}
        {{ /get.current.fields.pageFontColor }}
        {{ /helper.trim }}
        dark:bg-gray-900 bg-gray-200
        "
        {{ #get.current.fields.pageBackgroundColorStyle }} style="background-color:{{ get.current.fields.pageBackgroundColorStyle }};{{ #get.current.fields.pageBackgroundColorStyleDark }}color:#fff;{{ /get.current.fields.pageBackgroundColorStyleDark }}"{{ /get.current.fields.pageBackgroundColorStyle }}
        {{ #render.partial }}page_body_tag_inside{{ /render.partial }}>
        {{ > partial/lab4/page_body_prefix }}
        <a href="#main" class="skip-link">Jump to main content</a>

        {{{ selector.placement_non-relative }}}

        <section class="main front" id="main">
        <h1 class="hidden-heading">{{ get.current.filtered.seotitle }}</h1>
            {{{ selector.placement_top }}}
            {{{ selector.placement_left }}}
            {{{ selector.placement_right }}}

            {{{ children.dropZone }}}
        </section>
        {{> partial/lab4/page_foot }}
    </body>
</html>
