<div class="header-date-section [[ #settings.classes ]] [[.]][[ /settings.classes ]]">
    <div class="lab-date-widget-container" id="lab-date-widget-container"></div>
</div>

<script>
    (function() {
        function capitalizeFirstLetter(string) {
            if (!string) return string; // Handle empty strings
            return string.charAt(0).toUpperCase() + string.slice(1);
        }

        const languageCode = "{{ getConfig.lang }}";

        // Get the current date, and create a dateOptions object based on the settings
        const today = new Date();
        const dateOptions = {
            day: '2-digit',
            [[ ^settings.hideMonth ]]month: 'long',[[ /settings.hideMonth ]]
            [[ ^settings.hideYear ]]year: 'numeric',[[ /settings.hideYear ]]
            [[ ^settings.hideDay ]]weekday: 'long'[[ /settings.hideDay ]]
        };

        // Format the date according to languageCode
        const formattedDate = capitalizeFirstLetter(today.toLocaleDateString(languageCode, dateOptions));

        const dateHtml = `<p class="lab-date-widget-string">${ formattedDate }</p>`;

        // Set the inner html of the div element to the formatted date string
        document.getElementById('lab-date-widget-container').innerHTML = dateHtml;
    })();
</script>