<[[ settings.tagType ]]
    class="[[ #settings.classes ]] [[.]][[ /settings.classes ]]"
    [[ #settings.id ]] id="[[ settings.id ]]"[[ /settings.id ]]
    [[ #settings.attributes ]][[ #key ]][[ key ]]="[[ value ]]"[[ /key ]][[ /settings.attributes ]]
> 
[[ #settings.textContent ]] [[ settings.textContent ]] [[ /settings.textContent ]] 
[[ &children ]]
</[[ settings.tagType ]]>
