<img src="[[ settings.src ]]" class="[[ #settings.classes ]][[.]][[ / settings.classes]]" [[ #settings.width ]]width="[[ settings.width ]]"[[ /settings.width ]] [[ #settings.height ]]height="[[ settings.height ]]"[[ /settings.height ]] alt="[[ #settings.alt ]][[.]][[ /settings.alt ]]"/>