<div class="lang-switcher[[ #settings.classes ]] [[.]][[ /settings.classes ]]">
    <ul>
        {{ #getConfig.multiLanguage.languages }}
        <li>
            <a class="lang-link" href="{{ fallbackUrl}}" data-lang-code="{{ language }}">{{ name }}</a>
        </li>
        {{ /getConfig.multiLanguage.languages }}
    </ul>
</div>

<script>
(function() {
    if (window.languageSwitcherScriptLoaded) return; // Check if the script has already been run
    window.languageSwitcherScriptLoaded = true;

    const hasTranslations = '{{ get.current.fields.hasTranslations }}';
    const hasTranslation = '{{ get.current.fields.hasTranslation }}';

    if (hasTranslations || hasTranslation) {
        const lab_canonical_id = '{{ get.current.fields.lab_canonical_id }}';
        const lab_canonical_extid = '{{ get.current.fields.lab_canonical_extid }}';
        const currentId = '{{ get.current.id }}';
        const extId = '{{ get.current.fields.extId }}';
        const seolanguage = '{{ get.current.fields.seolanguage }}';
        const siteDomain = '{{ get.current.fields.siteDomain }}';
        const front_api_url = '{{{ getCmsConfig.front_api_url}}}';
        const customer_front_url = '{{{ getCmsConfig.customer_front_url}}}';
        const buttons = [...document.querySelectorAll('.lang-link')];

        let url = '';
        const query = [];

        if (lab_canonical_id) {
            query.push(`lab_canonical_id:${ lab_canonical_id }`);
        }
        if (lab_canonical_extid) {
            query.push(`lab_canonical_extid:${ lab_canonical_extid }`);
        }
        if (extId) {
            query.push(`extid:${ extId }`);
        }
        if (currentId && lab_canonical_id !== currentId) {
            query.push(`id:${ currentId }`);
        }

        if (query.length) {
            let fieldMask = '&fields=id,extId,hasTranslations,hasTranslation,lab_canonical_*,seolanguage,lab_site_id,siteDomain,published_url';
            url = `/article?query=${ query.join(' OR ') }${ fieldMask }`;
        }
        if (url) {
            fetch(front_api_url + url).then((resp) => {
                return resp.json();
            }).then((data) => {
                if (data && data.result && data.result.length) {
                    data.result.forEach((article) => {
                        const langCode = article.seolanguage;
                        const publishedUrl = article.published_url;
                        const langLinks = document.querySelectorAll(`.lang-link[data-lang-code="${langCode}"]`);
                        if (langLinks && publishedUrl) {
                            langLinks.forEach((langLink) => {
                                langLink.href = publishedUrl;
                            });
                        }
                    });
                }
            }).catch((error) => {
                console.warn('error: ', error);
            });
        }
    }
})();
</script>