<a class="link[[ #settings.classes ]] [[.]][[ /settings.classes ]]" href="[[ settings.href ]]"[[ #settings.attributes ]][[ #key ]] [[ key ]]="[[ value ]]"[[ /key ]][[ /settings.attributes ]]>[[& children ]]</a>