<sesamy-abo sesamy-visibility="not-logged-in">
  <div>
    <a href="[[#settings.url]][[settings.url]][[/settings.url]][[^settings.url]]#[[/settings.url]]" class="[[#settings.classes]][[.]][[/settings.classes]]">[[ #settings.text ]][[ settings.text ]][[ /settings.text ]][[ ^settings.text ]]Subscribe[[ /settings.text ]]</a>
  </div>
</sesamy-abo>