<sesamy-login class="[[ #settings.classes ]] [[.]][[ /settings.classes ]]" url="[[#settings.url]][[settings.url]][[/settings.url]]">
    <span slot="button-text">[[#settings.login]][[settings.login]][[/settings.login]][[^settings.login]]Log in[[/settings.login]]</span>
</sesamy-login>