<div class="sesamy-logout [[ #settings.classes ]] [[.]][[ /settings.classes ]]">
    <sesamy-logout [[#settings.hide-icon]]hide-icon[[/settings.hide-icon]] [[#settings.logout]]text="[[settings.logout]]"[[/settings.logout]]></sesamy-logout>
</div>