<sesamy-visibility class="[[ #settings.classes ]] [[.]][[ /settings.classes ]]">
  <div slot="not-logged-in">
    <a href="#" sesamy-link="login">[[#settings.login]][[settings.login]][[/settings.login]][[^settings.login]]Log in[[/settings.login]]</a>
  </div>
  <div slot="logged-in">
    <a href="#" sesamy-link="account">[[#settings.account]][[settings.account]][[/settings.account]][[^settings.account]]My account[[/settings.account]]</a>
  </div>
  <div slot="logged-in">
    <a href="#" sesamy-link="logout">[[#settings.logout]][[settings.logout]][[/settings.logout]][[^settings.logout]]Log out[[/settings.logout]]</a>
  </div>
</sesamy-visibility>