<section id="lab-weather-widget" class="lab-weather-widget [[ #settings.classes ]] [[.]][[ /settings.classes ]]">
    <div id="lab-weather-content" class="lab-weather-widget-content">
        <span id="lab-weather-error" class="lab-weather-widget-error"></span>
        <div class="lab-weather-widget-main">
            <img id="lab-weather-icon" class="lab-weather-widget-icon" alt="" />
            <div class="lab-weather-widget-info">
                <div class="lab-weather-widget-times">
                    [[ #settings.showDay ]]
                        <span id="lab-weather-day" class="lab-weather-widget-day"></span>
                    [[ /settings.showDay ]]
                    [[ #settings.showUpdated ]]
                        <span id="lab-weather-updated" class="lab-weather-widget-updated">{{ #lang }}weather.updated{{ /lang }} </span>
                    [[ /settings.showUpdated ]]
                </div>
                <div class="lab-weather-widget-bottominfo">
                    <span class="lab-weather-widget-title">
                        [[ ^settings.title ]][[ settings.location ]][[ /settings.title ]]
                        [[ #settings.title ]][[ settings.title ]][[ /settings.title ]]
                    </span>
                    <div class="lab-weather-widget-subinfo">
                        <span id="lab-weather-temp" class="lab-weather-widget-temp">--°</span>
                        [[ #settings.showDescription ]]
                            <span id="lab-weather-desc" class="lab-weather-widget-description">{{ #lang }}weather.fetchingData{{ /lang }}</span>
                        [[ /settings.showDescription ]]
                        [[ #settings.showWind ]]
                            <span id="lab-weather-wind" class="lab-weather-widget-wind"></span>
                        [[ /settings.showWind]]
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    (function() {
        const settings = {
            location: "[[ settings.location ]]",
            units: [[ #settings.useFahrenheit ]]'F'[[ /settings.useFahrenheit ]][[ ^settings.useFahrenheit ]]'C'[[ /settings.useFahrenheit ]],
            title: "[[ settings.title ]]",
            showDescription: [[ #settings.showDescription ]]true[[ /settings.showDescription ]][[ ^settings.showDescription ]]false[[ /settings.showDescription ]],
            showWind: [[ #settings.showWind ]]true[[ /settings.showWind ]][[ ^settings.showWind ]]false[[ /settings.showWind ]],
            showUpdated: [[ #settings.showUpdated ]]true[[ /settings.showUpdated ]][[ ^settings.showUpdated ]]false[[ /settings.showUpdated ]],
            showDay: [[ #settings.showDay ]]true[[ /settings.showDay ]][[ ^settings.showDay ]]false[[ /settings.showDay ]]
        };

        // Compress the symbols into a smaller list by mapping multiple symbols to a string
        const symbolMap = {
            clearsky_day: "{{ #lang }}weather.types.clearsky{{ /lang }}",
            clearsky_night: "{{ #lang }}weather.types.clearsky{{ /lang }}",
            clearsky_polartwilight: "{{ #lang }}weather.types.clearsky{{ /lang }}",

            fair_day: "{{ #lang }}weather.types.fair{{ /lang }}",
            fair_night: "{{ #lang }}weather.types.fair{{ /lang }}",
            fair_polartwilight: "{{ #lang }}weather.types.fair{{ /lang }}",

            partlycloudy_day: "{{ #lang }}weather.types.partlycloudy{{ /lang }}",
            partlycloudy_night: "{{ #lang }}weather.types.partlycloudy{{ /lang }}",
            partlycloudy_polartwilight: "{{ #lang }}weather.types.partlycloudy{{ /lang }}",

            cloudy: "{{ #lang }}weather.types.cloudy{{ /lang }}",

            // Rain
            rainshowers_day: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            rainshowers_night: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            rainshowers_polartwilight: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            heavyrainshowers_day: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            heavyrainshowers_night: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            heavyrain: "{{ #lang }}weather.types.rain{{ /lang }}",
            rain: "{{ #lang }}weather.types.rain{{ /lang }}",
            lightrain: "{{ #lang }}weather.types.rain{{ /lang }}",
            lightrainshowers_day: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            lightrainshowers_night: "{{ #lang }}weather.types.rainshowers{{ /lang }}",
            lightrainshowers_polartwilight: "{{ #lang }}weather.types.rainshowers{{ /lang }}",

            // Thunder variations
            rainshowersandthunder_day: "{{ #lang }}weather.types.thunder{{ /lang }}",
            rainshowersandthunder_night: "{{ #lang }}weather.types.thunder{{ /lang }}",
            rainshowersandthunder_polartwilight: "{{ #lang }}weather.types.thunder{{ /lang }}",
            heavyrainandthunder: "{{ #lang }}weather.types.thunder{{ /lang }}",
            lightrainshowersandthunder_day: "{{ #lang }}weather.types.thunder{{ /lang }}",
            lightrainshowersandthunder_night: "{{ #lang }}weather.types.thunder{{ /lang }}",
            lightrainshowersandthunder_polartwilight: "{{ #lang }}weather.types.thunder{{ /lang }}",

            // Snow & sleet
            snow: "{{ #lang }}weather.types.snow{{ /lang }}",
            lightsnow: "{{ #lang }}weather.types.snow{{ /lang }}",
            heavysnow: "{{ #lang }}weather.types.snow{{ /lang }}",
            snowshowers_day: "{{ #lang }}weather.types.snow{{ /lang }}",
            snowshowers_night: "{{ #lang }}weather.types.snow{{ /lang }}",
            snowshowers_polartwilight: "{{ #lang }}weather.types.snow{{ /lang }}",
            snowshowersandthunder_day: "{{ #lang }}weather.types.thunder{{ /lang }}",
            snowshowersandthunder_night: "{{ #lang }}weather.types.thunder{{ /lang }}",
            snowshowersandthunder_polartwilight: "{{ #lang }}weather.types.thunder{{ /lang }}",
            heavysnowandthunder: "{{ #lang }}weather.types.thunder{{ /lang }}",

            sleet: "{{ #lang }}weather.types.sleet{{ /lang }}",
            lightsleet: "{{ #lang }}weather.types.sleet{{ /lang }}",
            heavysleet: "{{ #lang }}weather.types.sleet{{ /lang }}",
            sleetshowers_day: "{{ #lang }}weather.types.sleet{{ /lang }}",
            sleetshowers_night: "{{ #lang }}weather.types.sleet{{ /lang }}",
            sleetshowers_polartwilight: "{{ #lang }}weather.types.sleet{{ /lang }}",
            sleetshowersandthunder_day: "{{ #lang }}weather.types.thunder{{ /lang }}",
            sleetshowersandthunder_night: "{{ #lang }}weather.types.thunder{{ /lang }}",
            sleetshowersandthunder_polartwilight: "{{ #lang }}weather.types.thunder{{ /lang }}",
            heavysleetandthunder: "{{ #lang }}weather.types.thunder{{ /lang }}",

            // Other
            fog: "{{ #lang }}weather.types.fog{{ /lang }}",
            unknown: "{{ #lang }}weather.types.unknown{{ /lang }}"
        };

        const coordCache = {};

        // Get the coordinates based on the location given in the settings
        async function getCoords(location) {

        // Return cached if available
        if (coordCache[location]) {
            console.info("[WeatherWidget] Using cached coords for", location);
            return coordCache[location];
        }

        const url = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(location)}`;

        const res = await fetch(url, {
            headers: {
                "Accept-Language": "no"
            }
        });

        if (!res.ok) {
            throw new Error(`Nominatim request failed with status ${res.status}`);
        }

        const data = await res.json();

        if (!Array.isArray(data) || data.length === 0) {
            throw new Error("Could not find coords for place: " + location);
        }

        const coords = { lat: data[0].lat, lon: data[0].lon };
            coordCache[location] = coords;
            return coords;
        }

        function toFahrenheit(celsius) {
            return Math.round((celsius * 9/5) + 32);
        }

        function updateElement(setting, id, callback) {
            if (setting) {
                const element = document.getElementById(id);
                if (element && typeof callback === 'function') {
                    callback(element);
                }
            }
        }

        async function fetchWeather(lat, lon) {
            const res = await fetch(
                `https://api.met.no/weatherapi/locationforecast/2.0/compact?lat=${lat}&lon=${lon}`
            );

            if (!res.ok) throw new Error("Weather API request failed");
            const data = await res.json();

            const timeseries = data.properties.timeseries[0];
            const details = timeseries.data.instant.details;
            const next = timeseries.data.next_1_hours || timeseries.data.next_6_hours || {};

            // Match up the symbol with the map to get the string we want to fetch from the translation file
            const symbol = next.summary?.symbol_code || "cloudy";
            const symbolTranslation = symbolMap[symbol] || "unknown";

            // Get the icon from /public/common/weather
            const iconPath = `/view-resources/baseview/public/common/weather/svg/${symbol}.svg`;
            fetch(iconPath, { method: "HEAD" })
                .then(res => {
                    if (res.ok) {
                        document.getElementById("lab-weather-icon").src = iconPath;
                    } else {
                        document.getElementById("lab-weather-icon").setAttribute('style', 'display: none !important;');

                    }
                })
                .catch(() => {
                    document.getElementById("lab-weather-icon").setAttribute('style', 'display: none !important;');
                });

            // Met API always return Celsius, so when displaying the temperature we need to check if the config is set to F, if not default to C. 
            const tempCelsius = Math.round(details.air_temperature);
            document.getElementById("lab-weather-temp").textContent = (settings.units === "F" ? toFahrenheit(tempCelsius) : tempCelsius) + "°" + (settings.units || "C");
            document.getElementById("lab-weather-icon").alt = symbolTranslation;

            updateElement(settings.showDescription, "lab-weather-desc", (element) => {
                document.getElementById("lab-weather-icon").alt = "";
                element.textContent = symbolTranslation;
            });

            updateElement(settings.showWind, "lab-weather-wind", (element) => {
                element.textContent = "💨 " + Math.round(details.wind_speed) + " m/s";
            });

            const languageCode = "{{ getConfig.lang }}";

            updateElement(settings.showDay, "lab-weather-day", (element) => {
                let formattedDate = new Date().toLocaleString(languageCode, { weekday: "long", day: "2-digit", month: "long" });
                formattedDate = formattedDate.charAt(0).toLocaleUpperCase(languageCode) + formattedDate.slice(1);
                element.textContent = formattedDate;
            });

            updateElement(settings.showUpdated, "lab-weather-updated", (element) => {
                // Create a textnode with the last updated and append it to the span
                // Since the weather is based on the location set in config, and not the location (or timezone) of the reader, we just fetch the language
                // data for the site and set the time based on that.
                const dateOptions = { 
                    hour: "2-digit", 
                    minute: "2-digit" 
                };

                const updatedDate = document.createTextNode(new Date().toLocaleString(languageCode, dateOptions));
                element.appendChild(updatedDate);
            });
        }

        async function init() {
            try {
                const coords = await getCoords(settings.location);
                await fetchWeather(coords.lat, coords.lon);
            } catch (err) {
                console.info(err);
                document.getElementById("lab-weather-error").textContent = "{{ #lang}}weather.failedToFetch{{ /lang }}";
                document.getElementById("lab-weather-content").classList.add('lab-weather-widget-error')
            }
        }

        init();
    })();
</script>
