@use "../components/vars" as *;

.pageHeader {
    // Reset button and link styles
    button, a {
        &.piano-dropdown-btn, &.piano-login, &.piano-logout, &.piano-my-account {
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            text-decoration: none;
            line-height: 1;
            text-align: left;
        }
    }

    // Hidden class for the piano stuff
    .piano-dropdown, .piano-login, .piano-logout, .piano-my-account {
        &.hidden {
            display: none;
        }
    }

    // The piano dropdown widget
    .piano-dropdown {
        .positionRelative {
            position: relative;
            .piano-dropdown-container {
                right: 0;
                top: 100%;
                width: fit-content;
                left: unset;
            }
        }
        .piano-dropdown-container {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            position: absolute;
            z-index: 9999;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
        }
        .piano-dropdown-btn {
            height: 100%;
            width: 100%;
            display: flex;
        }
        &.expanded {
            .piano-dropdown-container {
                pointer-events: all;
                opacity: 1;
                visibility: visible;
            }
        }
        
    }
}
